<div class = "serviceCard">
            <div class = "header-container">
                <div class = "card-header text-center space">
                    <img src= "" class = "justify-content center coinPic"alt="">
                    <p>{{service.title}}</p>
                </div>
            </div>
            <div class = "body-Container">
                <div  class="card-body col">
                    <div class = "row space" >
                    </div>
                    <div class = "row">
                        <p>{{service.desc}}</p>  
                    </div>
                </div>
            </div>
</div>
