<div class = "row contain">
    <div class="= col-6">
        <ul>
            <li class = "row">
                <div class = "col">
                    <img src="../../../assets/images/tick.png" style = "width: 10%;"alt="">
                </div>
                <div class = "col">
                    <p>Find high-quality services at your price point</p>
                </div>
            </li>
            <li class = "row">
                <div class = "col">
                    <img src="../../../assets/images/tick.png" style = "width: 10%;"alt="">
                </div>
                <div class = "col">
                    <p>Find high-quality services at your price point</p>
                </div>
            </li>
            <li class = "row">
                <div class = "col">
                    <img src="../../../assets/images/tick.png" style = "width: 10%;"alt="">
                </div>
                <div class = "col">
                    <p>Find high-quality services at your price point</p>
                </div>
            </li>
        </ul>

    </div>
    <div class="= col-6">


        <img src="../../../assets/images/dogWalker.jpg">

    </div>

</div>
