img{
    font-size: 10rem;
}
.mat-form-field{
     display: inline; 
}
.bi-star-fill{
    padding: 0.2rem;
    font-size: 1.3rem;
    color: orange;
}
.details {
    color:#66CAD8; 
    font-weight: 600;
}
.search-btn{
    width: 10rem;
    height: 3.2rem;
    margin-top: 0.3rem;
    background-color:#17a2b8 !important;
    color:white; 
}
agm-map {
    height:40rem; 
  }

  .card-click:hover{
    box-shadow: 0 0 3px rgb(193, 197, 199);
    cursor: pointer;
  }

