img{
    font-size: 10rem;
}
.mat-form-field{
     display: inline; 
}
.bi-star-fill{
    padding: 0.2rem;
    font-size: 1.3rem;
    color: orange;
}
.details {
    color:#66CAD8; 
    font-weight: 600;
}