
<div class = "container mt-4 ">
<div class = "row justify-content-center text-center mb-3">
    <div>
      <h4 class="text-decoration-underline">{{displayMonth}}</h4>
    </div>
    <div>
      <input type="button" class="btn btn-success" (click)="setCurrentMonth()" value="today" style="margin-right: 2%;" />
      <input type="button" class="btn btn-info"(click)="decreaseMonth()" value="-" style="margin-right: 0.5%;"/>
      <input type="button" class="btn btn-info"(click)="increaseMonth()" value="+" />
    </div>
  </div>
  
  <table class='calendar-table table' *ngIf="calendar">
    <thead>
      <tr>
        <th scope="col">Monday</th>
        <th scope="col">Tuesday</th>
        <th scope="col">Wednesday</th>
        <th scope="col">Thursday</th>
        <th scope="col">Friday</th>
        <th scope="col">Saturday</th>
        <th scope="col">Sunday</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let row of calendar | chunk: 7; let i = index">
       
          <td class="calendar-day"  [ngClass]="{'past-date': c.isPastDate, 'today': c.isToday}" *ngFor="let c of row; let j = index">
            <div *ngIf="c.hasEvent" class="calendar-day-header" [ngClass]="{'blue-date': c.isToday}">
              <strong>
                {{c.date.getDate()}}
              </strong> 
              <strong *ngIf="c.isToday || (i==0 && j==0) || (c.date.getDate() == 1)"> 
                {{monthNames[c.date.getMonth()]}}
              </strong>
              <div class = "row justify-content-center">
              <img src="../../../assets/images/available.png" style = "width: 60px;" (click)="setValues(c.eventTitle, c.eventDescription, c.eventDescription2, c.petOwner)" alt="">
              </div>
            </div>

           
            
            <div *ngIf="!c.hasEvent && !c.notAvailable" class="calendar-day-header"  [ngClass]="{'blue-date': c.isToday}">
              <strong>
                {{c.date.getDate()}}
              </strong> 
              <strong *ngIf="c.isToday || (i==0 && j==0) || (c.date.getDate() == 1)"> 
                {{monthNames[c.date.getMonth()]}}
              </strong>
            </div>
            <div *ngIf="c.notAvailable" class="calendar-day-header"    [ngClass]="{'blue-date': c.isToday}">
              <strong>
                {{c.date.getDate()}}
              </strong> 
              <strong *ngIf="c.isToday || (i==0 && j==0) || (c.date.getDate() == 1)"> 
                {{monthNames[c.date.getMonth()]}}
              </strong>
              <div class = "row justify-content-center">
                <img src="../../../assets/images/notAvailable.png" class="mt-2 mb-2" style = "width: 45px;">
              </div>
              
            </div>

            
          </td>
      </tr>
    </tbody>
  </table>

  <div *ngIf="displayEvent" class = "modal-Background">
    <div class="modal-content">
        <Button class = "btn btn-danger close" (click)="displayEvent = false" >&#10005;</Button>
        <div class = "content">
          <h5 class="text-decoration-underline mb-3">{{title}}</h5>
          <h6>Pet owner: {{owner}}</h6>
          <p>{{desc}} </p>
          <p>{{desc2}}</p>
        </div>
      </div>
    </div>
</div>
