.formContain
{
    margin-bottom: 5%;
    border: 1px solid black;
    padding: 3%;
}
.mediaContainer
{
    border-top: 1px solid black;
    margin-top: 5%;
}
.icon
{
    width: 15%;
    margin-right: 5%;
}