<div class="page-wrapper chiller-theme toggled">
  <a id="show-sidebar" class="btn btn-sm btn-dark" (click)="showSideBard()">
    <i class="bi bi-list" style="color: white;"></i>
  </a>
  <nav id="sidebar" class="sidebar-wrapper">
    <div class="sidebar-content">
      <div class="sidebar-brand">
        <a href="#">Route Planner</a>
        <div id="close-sidebar" (click)="hideSideBard()">
          <i class="bi bi-x-square"></i>
        </div>
      </div>
      <!-- <div class="sidebar-header">
          <div class="user-pic">
            <img class="img-responsive img-rounded" src="https://raw.githubusercontent.com/azouaoui-med/pro-sidebar-template/gh-pages/src/img/user.jpg"
              alt="User picture">
      <div class="sidebar-header">
          <div class="user-pic">
            <img class="img-responsive img-rounded" src="https://raw.githubusercontent.com/azouaoui-med/pro-sidebar-template/gh-pages/src/img/user.jpg"
              alt="User picture">
          </div>
          <div class="user-info">
            <span class="user-name">Jhon
              <strong>Smith</strong>
            </span>
            <span class="user-role">Administrator</span>
            <span class="user-status">
              <i class="fa fa-circle"></i>
              <span>Online</span>
            </span>
          <div class="user-info">
            <span class="user-name">Jhon
              <strong>Smith</strong>
            </span>
            <span class="user-role">Administrator</span>
            <span class="user-status">
              <i class="fa fa-circle"></i>
              <span>Online</span>
            </span>
          </div>
        </div> -->
      <!-- sidebar-header  -->
      <!-- <div class="sidebar-search">
          <div>
            <div class="input-group">
              <input type="text" class="form-control search-menu" placeholder="Search...">
              <div class="input-group-append">
                <span class="input-group-text">
                  <i class="fa fa-search" aria-hidden="true"></i>
                </span>
              </div>
            </div>
          </div>
        </div> -->
      <!-- sidebar-search  -->
      <div class="sidebar-menu">
        <ul class="list-unstyled">
          <li class="header-menu">
            <!-- <span>Map Planner</span> -->
            <div id="createRouteController" class="col-lg-12 ">
              <ul style="margin-bottom: 0rem;" class="nav nav-pills nav-fill">
                <li id="mkRoute" class="nav-item">
                  <a (click)="onClickshowMakeRoute()" class="nav-link active" aria-current="page">Create
                    Route</a>
                </li>
                <li id="GenRoute" class="nav-item">
                  <a (click)="onClickshowGenRoute()" class="nav-link">Generate Route</a>
                </li>
                <li id="FavRoute" class="nav-item">
                  <a (click)="onClickshowFavRoute()" class="nav-link">My Routes</a>
                </li>
              </ul>
        </div> -->
      <!-- sidebar-search  -->
      <div class="sidebar-menu">
        <ul class="list-unstyled">
          <li class="header-menu">
            <!-- <span>Map Planner</span> -->
            <div id="createRouteController" class="col-lg-12 ">
              <ul style="margin-bottom: 0rem;" class="nav nav-pills nav-fill">
                <li id="mkRoute" class="nav-item">
                  <a (click)="onClickshowMakeRoute()" class="nav-link active" aria-current="page">Create
                    Route</a>
                </li>
                <li id="GenRoute" class="nav-item">
                  <a (click)="onClickshowGenRoute()" class="nav-link">Generate Route</a>
                </li>
                <li id="FavRoute" class="nav-item">
                  <a (click)="onClickshowFavRoute()" class="nav-link">My Routes</a>
                </li>
              </ul>

                  <!-- Form for Making routes  -->
                  <form id="formm" class="form-horizontal ">

                    <div class="form-group row row">
                      <label for="from" class="col-xs-3 control-label"><i onclick="GetCurrentLocationForInputG()"
                          class="far fa-dot-circle"></i> <label style="margin-left:3%;" for="from">
                     
                      From</label></label>
                      <div class="col-xs-6">
                        <input type="text" id="from" placeholder="Origin" class="form-control" [(ngModel)]="startPoint">
                      </div>
                    </div>

                <div class="form-group row">
                  <label for="to" class="col-xs-3 control-label"><i class="fas fa-map-marker-alt"></i> <label
                      style="margin-left:3%;" for="from"> To</label></label>
                  <div class="col-xs-6">
                    <input type="text" name="to" id="to" placeholder="Destination" class="form-control"
                      [(ngModel)]="endPoint">
                  </div>
                </div>
                <div class="form-group row">
                  <label for="to" class="col-xs-3 control-label"><i class="fas fa-map-marker-alt"></i> <label
                      style="margin-left:3%;" for="from"> To</label></label>
                  <div class="col-xs-6">
                    <input type="text" name="to" id="to" placeholder="Destination" class="form-control"
                      [(ngModel)]="endPoint">
                  </div>
                </div>

                <div class="form-group row">
                  <label for="to" class="col-xs-3 control-label"><i class="fas fa-map-marker-alt"></i> <label
                      style="margin-left:3%;" for="RouteName"> Route Name</label></label>
                  <div class="col-xs-6">
                    <input type="text" name="RouteName" id="RouteName" placeholder="Route Name" class="form-control"
                      [(ngModel)]="routeName">
                  </div>
                </div>
                <div class="form-group row">
                  <label for="to" class="col-xs-3 control-label"><i class="fas fa-map-marker-alt"></i> <label
                      style="margin-left:3%;" for="RouteName"> Route Name</label></label>
                  <div class="col-xs-6">
                    <input type="text" name="RouteName" id="RouteName" placeholder="Route Name" class="form-control"
                      [(ngModel)]="routeName">
                  </div>
                </div>


                <div style="margin-top: 0rem; margin-bottom:1rem;margin-right: 2rem;"
                  class="col-xs-offset-2 col-xs-10 row">
                  <div class="col-lg-5">


                    <button class="btn btn-info btn-lg " (click)="onClickcalcRoute()"><i
                        class="fas fa-map-signs ">Preview
                        Route</i></button>
                  </div>
                  <div class="col-lg-2"></div>
                  <div class="col-lg-4">
                    <button style="margin-right: 1rem;" class="btn btn-info btn-lg " (click)="createPostSave()"><i
                        class="fas fa-map-signs">Save
                        Route</i></button>
                  </div>
                <div style="margin-top: 0rem; margin-bottom:1rem;margin-right: 2rem;"
                  class="col-xs-offset-2 col-xs-10 row">
                  <div class="col-lg-5">


                    <button class="btn btn-info btn-lg " (click)="onClickcalcRoute()"><i
                        class="fas fa-map-signs ">Preview
                        Route</i></button>
                  </div>
                  <div class="col-lg-2"></div>
                  <div class="col-lg-4">
                    <button style="margin-right: 1rem;" class="btn btn-info btn-lg " (click)="createPostSave()"><i
                        class="fas fa-map-signs">Save
                        Route</i></button>
                  </div>

                    </div>
                    <!-- End of adding the list of routes -->


              </form>
              <!-- Form for generating routes -->
              <form id="formmG" style="display: none;" class="form-horizontal ">
              </form>
              <!-- Form for generating routes -->
              <form id="formmG" style="display: none;" class="form-horizontal ">

                <div class="form-group row">
                <div class="form-group row">

                      <label for="fromG" class="col-xs-4 control-label"><i onclick="GetCurrentLocationForInput()"
                          class="far fa-dot-circle"></i> <label style="margin-left:3%;" for="from"> Starting
                          Point</label></label>
                      <div class="col-xs-4">
                        <input type="text" id="fromG" placeholder="Origin" class="form-control">

                  </div>
                </div>
                  </div>
                </div>

                <div class="form-group row">
                <div class="form-group row">

                  <label for="DistanceG" class="col-xs-4 control-label"><i class="fas fa-map-marker-alt"></i>
                    <label style="margin-left:3%;" for="from">Distance</label></label>
                  <div class="col-xs-4">
                    <input type="text" id="DistanceG" placeholder="Distance" class="form-control">
                  </div>
                  <label for="DistanceG" class="col-xs-4 control-label"><i class="fas fa-map-marker-alt"></i>
                    <label style="margin-left:3%;" for="from">Distance</label></label>
                  <div class="col-xs-4">
                    <input type="text" id="DistanceG" placeholder="Distance" class="form-control">
                  </div>

                </div>
                <!-- Progress bar -->
                <div id="Progress_Status">
                  <div id="myprogressBar"></div>
                </div>
                </div>
                <!-- Progress bar -->
                <div id="Progress_Status">
                  <div id="myprogressBar"></div>
                </div>



                <div class="col-xs-offset-2 col-xs-10">
                  <button class="btn btn-info btn-lg " onclick="GenerateRoutes();"><i class="fas fa-map-signs"> Generate
                      Routes</i></button>
                </div>
                <div class="col-xs-offset-2 col-xs-10">
                  <button class="btn btn-info btn-lg " onclick="GenerateRoutes();"><i class="fas fa-map-signs"> Generate
                      Routes</i></button>
                </div>

                <div id="routesBox2">
                  <div class="accordion" id="accordionExample2">
                <div id="routesBox2">
                  <div class="accordion" id="accordionExample2">


                  </div>
                </div>
              </form>
              <div style="display: none;" id="routesBoxes">
                <h3 style="color: black;" (click)="getArray2()">Faviourite routes</h3>
                  </div>
                </div>
              </form>
              <div style="display: none;" id="routesBoxes">
                <h3 style="color: black;" (click)="getArray2()">Faviourite routes</h3>


                <div id="routesBox">
                  <div class="accordion" id="accordionExampleFav">
                <div id="routesBox">
                  <div class="accordion" id="accordionExampleFav">



                  </div>
                </div>
                  </div>
                </div>

                <!-- End of trying to add the data from atlas -->
              </div>
              <!-- End of form for generating form  -->
                <!-- End of trying to add the data from atlas -->
              </div>
              <!-- End of form for generating form  -->

              <div id="output">
              <div id="output">

              </div>
              </div>

            </div>
          </li>
            </div>
          </li>


        </ul>
        </ul>
      </div>
      <!-- sidebar-menu  -->
    </div>
    <!-- sidebar-content  -->
    <div class="sidebar-footer">
      <a href="#">
        <i class="fa fa-bell"></i>
        <span class="badge badge-pill badge-warning notification">3</span>
      </a>
      <a href="#">
        <i class="fa fa-envelope"></i>
        <span class="badge badge-pill badge-success notification">7</span>
      </a>
      <a href="#">
        <i class="fa fa-cog"></i>
        <span class="badge-sonar"></span>
      </a>
      <a href="#">
        <i class="fa fa-power-off"></i>
      </a>
      <!-- sidebar-menu  -->
    </div>
    <!-- sidebar-content  -->
    <div class="sidebar-footer">
      <a href="#">
        <i class="fa fa-bell"></i>
        <span class="badge badge-pill badge-warning notification">3</span>
      </a>
      <a href="#">
        <i class="fa fa-envelope"></i>
        <span class="badge badge-pill badge-success notification">7</span>
      </a>
      <a href="#">
        <i class="fa fa-cog"></i>
        <span class="badge-sonar"></span>
      </a>
      <a href="#">
        <i class="fa fa-power-off"></i>
      </a>
    </div>
  
  
    <!-- End of trying dialog -->
  </div>
  
  <!-- Modal component -->
  <!-- <button (click)="toggle()">Open Modal</button> -->
  <div class="modal" [class.show]="isOpen">
    <div class="modal-body">
      <form>
        <div class="form-group">
          <label for="routeNameed">Route Name</label>
          <input type="email" class="form-control" id="routeNameed" aria-describedby="emailHelp"
            [ngModelOptions]="{standalone: true}" placeholder="Enter email" [(ngModel)]="routeName">
          <small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone else.</small>
        </div>
        <div class="form-group">
          <label for="fromed">From</label>
          <input [ngModelOptions]="{standalone: true}" type="text" class="form-control" id="fromed" placeholder="start"
            [(ngModel)]="startPoint">
        </div>
  
        <div class="form-group">
          <label for="toEd">To</label>
          <input [ngModelOptions]="{standalone: true}" type="text" class="form-control" id="toEd"
            placeholder="destination" [(ngModel)]="endPoint">
        </div>
        <button (click)="toggleClose()">close</button>
        <button class="btn btn-primary" (click)="updatePost()">Submit</button>
      </form>
      <!-- Your form fields here -->
  
  
  
  
  
  
  
    </div>
  
  
  
  </div>
  
  
  
  <app-footer></app-footer>