@import url('https://fonts.googleapis.com/css2?family=Kanit:wght@200&family=Lato:wght@300&family=Roboto+Condensed&family=Roboto:wght@300&display=swap');

//VARIABLES
$color-primary:'#082243';
$color-secondary:'#97e3ee'; 
$color-dark: #000000;
$color-white: #ffff;
$primary-font-color: #8b8f93;
$footer-bg:#f6f6f6; 
$sec-color: #9ea2a9b8; 
$btn-icons-color:#338d9e61;
