<nav class="navbar navbar-expand-xl navbar-dark bg-dark">
	<a href="#" class="navbar-brand"><i class="fa fa-circle"></i>Pet<b>Connect</b></a>  		
	<button type="button" class="navbar-toggler" data-toggle="collapse" data-target="#navbarCollapse">
		<span class="navbar-toggler-icon"></span>
	</button>
	<div id="navbarCollapse" class="collapse navbar-collapse justify-content-start">		
		<form class="navbar-form form-inline">
			<div class="input-group search-box">								
				<input type="text" id="search" class="form-control" placeholder="Search here...">
				<span class="input-group-addon"><i class="material-icons">&#xE8B6;</i></span>
			</div>
		</form>
		<div class="navbar-nav ml-auto">
			<a href="#" class="nav-item nav-link active"><i class="bi bi-house-heart-fill"></i><span>Home</span></a>
			<a href="#" class="nav-item nav-link"><i class="bi bi-people-fill"></i><span>Forum</span></a>
			<a href="#" class="nav-item nav-link"><i class="bi bi-chat-text-fill"></i><span>Messages</span></a>		
			<a href="#" class="nav-item nav-link"><i class="bi bi-bell-fill"></i><span>Notifications</span></a>

				<a  mat-button [matMenuTriggerFor]="beforeMenu" data-toggle="dropdown" class="nav-item nav-link dropdown-toggle user-action pt-4"><img src="https://www.tutorialrepublic.com/examples/images/avatar/3.jpg" class="avatar" alt="Avatar"> Frank <b class="caret"></b></a>
        <mat-menu #beforeMenu="matMenu" xPosition="before">
					<a href="#" class="dropdown-item"><i class="bi bi-person pr-3 pt-2"></i>Profile</a>
					<a href="#" class="dropdown-item"><i class="bi bi-receipt-cutoff pr-3 pt-2 "></i> Billing</a>
					<a href="#" class="dropdown-item"><i class="bi bi-sliders2 pr-3 pt-2"></i>Settings</a>
					<div class="divider dropdown-divider"></div>
					<a href="#" class="dropdown-item"><i class="bi bi-box-arrow-left pr-3"></i> Logout</a>
        </mat-menu>
			</div>
		</div>
</nav>




















