<div  class = "">
    <div class = "post row" >
      <div class = "col postHeader">
        <Button class = "btn btn-danger close">&#10005;</Button>
        <div *ngIf="post.imageLocation != 'N/A'" style="text-align: center;">
          <img src="{{post.imageLocation}}" class = "postImage" alt="">
        </div>
        
          <div class = "row">
           <h6>{{post.Date.S}}</h6>
          </div>
          <div class = "row">
              <h5>{{post.PostTitle.S}}</h5>
          </div>
          <div class = "col">
              <p>{{post.Content.S}}</p> 
          </div>
          <div class = "col">
            <p>Vote Count: {{post.VoteCount.N}}</p> 
        </div>

        </div>


    </div>
  </div>

