#header{
    background-color: #4dd4d5;
    border-top: solid 2px #4dd4d5;
    border-bottom: solid 2px #4dd4d5;
    width: 60%;
    position: fixed;
    z-index: 99;
}

#message-input{
    border-top: solid 2px #4dd4d5;
}
