.commentForm {
	border-top: 1px solid black;
}

.commentBox {
	background-color: #f0f0ee;
	text-align: left;
	border: 1px solid black;
	margin-bottom: 3%;
}

.comment {
	background-color: white;
	padding: 3%;
	border: 1px solid black;
	box-shadow: 0 0 15px black;
	position: relative;
	margin: 3%;
}
.close{
    position: absolute;
    top: 0;
    right: 0;
}
.like img
{
    width: 25px;
    margin-right: 10px;
}

.like img:hover {
	opacity: 0.7;
	transform: translateY(-2px);
}

.post {
	background-color: white;
	position: relative;
}

.post-internal {
	--post-line-color: #ccc;
	margin-top: 10px;
	margin-bottom: 10px;
	overflow: hidden;
	background-color: rgba(255, 255, 255, 0.8);
	color: #878A8C;
	position: relative;
	border-radius: 4px;
	padding: 5px;
}

.post-info {
	color: rgb(120, 124, 126);
	font-size: 12px;
}

.postHeader {
	text-align: left;
}

.postFooter {
	padding: 0 30%;
}

.postImage {
	width: 40%;
	border: 1px solid black;
	margin-bottom: 5%;
}
.beside{
    display: inline-block;
}
.commentFooter
{
    text-align: center;
}