<div>
    <div class = "row">
        <hr>
        
        <div class = "col commentBox" *ngIf="comments.length > 0" >
            <div *ngFor="let c of comments"> 
                <div class ="comment">
               
                    <h6>{{c.date}}</h6>
                  
                    <p>{{c.comment}}</p>
               
                <div class = "row commentFooter" >
                    <div class = "like col">
                        <img src="../../../assets/images/Uparrow.png" class = "beside" alt="" (click)="AddVote(c)">
                        <p class = "beside" style="margin-right: 10px;">{{c.voteCount}}</p>
                        <img src="../../../assets/images/downArrow.png" class = "beside" alt="" (click)="RemoveVote(c)">
                    </div>
                   </div>
                </div>
            </div>
            
        </div>
    </div>

    <form #myForm = "ngForm" class="commentFooter">
        <div class = "row" class = "commentForm">
            <div class = "col">
                <div class="form-group">
                    <textarea type="content" class="form-control"  placeholder="Comment" #comment></textarea>
                </div>
        </div>
        </div>
        <div class = "row">
            <div class="form-group">
                <button class = "btn btn-secondary"  (click)="PushComment(comment.value, myForm); comment.value = '' ">Post</button>
            </div>
        </div>
</form>
</div>
