<div  class = "modal-Background">
    <div class="modal-content">
       
        <div >
          <div class="card">
              <div class="card-header">
                <Button class = "btn btn-danger position-absolute top-0 end-0" (click)="CloseForm()">&#10005;</Button>
                  <div class="row">
                    
                      
                  </div>
                 
                
              </div>
              <div class="card-body">

                <div class="pl-5">
                    <mat-tab-group animationDuration="0ms">
                      <!-- <mat-tab label="Schedule">
                        <div *ngFor="let o of orders">
                          
                          <app-schedule-list [order] = o></app-schedule-list>
                        </div>
                      </mat-tab> -->
                      <mat-tab label="Manage Available slots">
                        <ng-template mat-tab-label>
                            <span (click)="refresh()">Manage Available slots</span>
                        </ng-template>
                        <div class = "m-3" *ngFor="let a of notAvailble">
                           <div class = "row">
                            <div class = "col-5">
                                    <h5>{{a.TimeStamp}}</h5>
                            </div>
                            <div class = "col-5">
                                 <h5>Not available</h5>
                            </div>
                            <div class = "col-2">
                                <Button class = "btn btn-danger position-absolute top-0 end-0" (click)="DeleteNotAvailable(a.NotAvailbleID)" >&#10005;</Button>
                            </div>
                        
                           </div>
                            
          
                          </div>
                        
                      </mat-tab>
                      <mat-tab label="Create Not Available slots">
                        <mat-form-field appearance="fill">
                            <mat-label>Choose a date</mat-label>
                            <input matInput [matDatepicker]="picker" #date>
                            <mat-hint>MM/DD/YYYY</mat-hint>
                            <mat-datepicker-toggle matIconSuffix [for]="picker"></mat-datepicker-toggle>
                            <mat-datepicker #picker></mat-datepicker>
                          </mat-form-field>

                          <button class = "btn btn-success" (click)="SetNotAvailble(date.value)">Set Not Available</button>
                      </mat-tab>

                    
                
                
                    
                      </mat-tab-group>
                 
                
                     
                    </div>
               
             
              </div>
            </div>
          </div>
      </div>
    </div>






