<footer id="footer">
  <div class="footer-top">
    <div class="container">
      <div class="row">
        <div class="col-lg-3 col-md-6 footer-links">
          <h4>Useful Links</h4>
          <ul class="list-unstyled">
            <li>
              <i class="bx bx-chevron-right"></i>
              <a href="#">Home</a>
            </li>
            <li>
              <i class="bx bx-chevron-right"></i>
              <a href="#">About us</a>
            </li>
            <li>
              <i class="bx bx-chevron-right"></i>
              <a href="#">Services</a>
            </li>
            <li>
              <i class="bx bx-chevron-right"></i>
              <a href="#">Terms of service</a>
            </li>
            <li>
              <i class="bx bx-chevron-right"></i>
              <a href="#">Privacy policy</a>
            </li>
          </ul>
        </div>
        <div class="col-lg-3 col-md-6 footer-links">
          <h4>Our Services</h4>
          <ul class="list-unstyled">
            <li>
              <i class="bx bx-chevron-right"></i>
              <a href="#">Accommodation</a>
            </li>
            <li>
              <i class="bx bx-chevron-right"></i>
              <a href="#">Walk</a>
            </li>
            <li>
              <i class="bx bx-chevron-right"></i>
              <a href="#">Day Care</a>
            </li>
            <li>
              <i class="bx bx-chevron-right"></i>
              <a href="#">Just feed</a>
            </li>
          </ul>
        </div>
        <div class="col-lg-3 col-md-6 footer-contact">
          <h4>Contact Us</h4>
          <p>
            Ash Ln,
            <br />
            Ballytivnan, F91 YW50
            <br />
            Sligo,
            <br />
            <br />
            <strong>Email:</strong>
            contact@petconnect.com
            <br />
          </p>
        </div>
        <div class="col-lg-3 col-md-6 footer-info">
          <h3>About PetConnect</h3>
          <p>Just the best for your pet Please follow us on our social media</p>
          <div class="social-links mt-3">
            <a href="#" class="twitter"><i class="bi bi-twitter"></i></a>
            <a href="#" class="facebook"><i class="bi bi-facebook"></i></a>
            <a href="#" class="instagram"><i class="bi bi-instagram"></i></a>
            <a href="#" class="linkedin"><i class="bi bi-linkedin"></i></a>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="container">
    <div class="copyright">
      &copy; Copyright
      <strong><span>PetConnect</span></strong>
      . All Rights Reserved
    </div>
    <div class="credits">
      Designed by
      <a href="#">PetConnect Development Team</a>
    </div>
  </div>
</footer>

<a href="#" class="scroll-top"><i class="bi bi-arrow-up-square"></i></a>

<!-- <footer class="pt-3" id="stickyFooter" style="background-color: lightgray;">
    <div class="d-flex flex-row container-fluid">
        <div class="col-4 ms-4">

            <h6 class="text-uppercase fw-bold mb-4">Stuff</h6>
            <p>
              <a href="#!" class="text-reset">Link</a>
            </p>
            <p>
              <a href="#!" class="text-reset">Link</a>
            </p>
            <p>
              <a href="#!" class="text-reset">Link</a>
            </p>
        </div>

        <div class="col-4">
 
            <h6 class="text-uppercase fw-bold mb-4">Stuff</h6>
            <p>
              <a href="#!" class="text-reset">Link</a>
            </p>
            <p>
              <a href="#!" class="text-reset">Link</a>
            </p>
            <p>
              <a href="#!" class="text-reset">Link</a>
            </p>
        </div>

        <div class="col-4">
            <h6 class="text-uppercase fw-bold mb-4">Stuff</h6>
            <p>
              <a href="#!" class="text-reset">Link</a>
            </p>
            <p>
              <a href="#!" class="text-reset">Link</a>
            </p>
            <p>
              <a href="https://icons8.com/" class="text-reset">Flag Icons</a>
            </p>
        </div>
    </div> -->
<!-- <div class="d-flex flex-row container-fluid" style="border-top: solid gray;">
        <div class="col-6 ms-4 pt-2">
            <small>Copyright &copy; Pet Connect 2022-2023</small>
        </div>

        <div class="col-6 d-flex justify-content-end pr-5 mt-1 mb-1">
            <div class="dropup">
                <a class="btn btn-secondary dropdown-toggle" href="#" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
  
                    <i class="bi bi-globe2"></i>
                </a>
    
                <div class="dropdown-menu">
                    <a (click)="useLanguage('om')" class="dropdown-item" href="#">
                      <img src="/assets/images/oman.png" alt="image" style="width: 20%;"> Oman</a>
                    <a (click)="useLanguage('lv')" class="dropdown-item" href="#">
                      <img src="/assets/images/latvia.png" alt="image" style="width: 20%;"> Latvia</a>
                    <a (click)="useLanguage('br')" class="dropdown-item" href="#">
                      <img src="/assets/images/brazil.png" alt="image" style="width: 20%;"> Brazil</a>
                    <a (click)="useLanguage('ie')" class="dropdown-item" href="#">
                      <img src="/assets/images/ireland.png" alt="image" style="width: 20%;"> Ireland</a>
                </div>
            </div>
        </div>
    </div>
        
</footer> -->
