<div class="container pt-5">
  <div class="row">
    <div class="col-4">
      <div class="row">
        <div class="col-12">
          <div class="tab-content">
            <div class="col-md-12 col-xl-12">
              <div class="card mb-3">
                <div class="card-header d-flex justify-content-between">
                  <h5 class="card-title mb-0">Pet Sitter</h5>
                  <i class="bi bi-heart"> save</i>
                </div>
                <div class="card-body text-center pb-0 ">
                  <img src={{petSitter?.profilePicUrl}} alt="Stacie Hall" class="img-fluid rounded-circle mb-2"
                    width="128" height="128">
                  <h5 class="card-title mb-0">{{petSitter?.name}} {{petSitter?.surname}}</h5>
                  <div class="text-muted">
                  </div>
                  <div class="mt-3">
                    <div class="h-100">
                      <span class="bi bi-star-fill"></span>
                      <span class="bi bi-star-fill"></span>
                      <span class="bi bi-star-fill"></span>
                      <span class="bi bi-star-fill"></span>
                      <span class="bi bi-star-fill"></span>
                      <span class="review my-auto pl-2"><u>14 reviews</u></span>

                    </div>
                  </div>
                </div>
                <hr class="my-0">
                <div class="card-body">
                  <div class="row p-3">
                    <button mat-flat-button class="search-btn">Start Chat</button>
                  </div>
                  <div class="row details">
                    <div class="row">
                      <div class="col-1">
                        <i class="bi bi-hourglass-split"></i>
                      </div>
                      <div class="col">
                        <span>Response time:  <b>17 minutes</b></span>
                      </div>
                    </div>
                    <div class="row">
                      <div class="col-1">
                        <i class="bi bi-chat-square-text"></i>
                      </div>
                      <div class="col">
                        <span>Response rate: <b>98%</b></span>
                      </div>
                    </div>
                    <div class="row">
                      <div class="col-1">
                        <i class="bi bi-x-octagon"></i>
                      </div>
                      <div class="col">
                        <span>Cancellation policy: <a class="primary-link">flexible</a></span>
                      </div>
                    </div>

                    <div class="row pt-3 pb-0 mb-0">
                      <!-- <p>Check Availability</p> -->
                      <mat-card class="demo-inline-calendar-card">
                        <mat-calendar [(selected)]="selected"></mat-calendar>
                      </mat-card>
                      <!-- <p>Selected date: {{selected}}</p> -->
                    </div>
                    </div>
               

                    <div class="row pb-4 pt-4">
                      <h4>Preferences</h4>
                      <img src="../../../assets/images/Screenshot 2022-12-06 at 00.49.44.png" alt="">
                    </div>
                    <div class="row">
                      <div class="col-1">
                        <span class="material-symbols-outlined">
                          pets
                          </span>
                      </div>
                      <div class="col">
                        <span>Doesn't take care of females in heat</span>
                      </div>
                    </div>
                    <div class="row">
                      <div class="col-1">
                        <span class="material-symbols-outlined">
                          pets
                          </span>
                      </div>
                      <div class="col">
                        <span>Males, neutered only</span>
                      </div>
                    </div>
               
                

                  <!-- <ul class="list-group list-group-flush pb-4">
                    <li class="list-group-item ">
                      Response time: 3 minutes
                    </li>
                    <li class="list-group-item">
                      Response rate: 98%
                    </li>
                   <li class="list-group-item">
                    Cancellation policy: flexible
                   </li>
                  </ul> -->
                  <div class="row text-center d-flex justify-content-center">
                  </div>
                </div>
                <hr class="my-0">
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="col-8 pl-5">
      <mat-tab-group animationDuration="0ms">
        <mat-tab label="Profile">
          <!-- <div class="row pt-4">
            <div class="col-4">
              <div class="card p-4">
                <div class="text-center card-body">
                  <div class="member-card">
                    <i class="bi bi-plus-circle-fill text-info"></i>
                    <p>Create a new Service</p>
                  </div>
                </div>
              </div>
            </div>
          </div> -->
        </mat-tab>
        <mat-tab label="Reviews">

<div class="container pt-5 p-0">
	<div class="card">
	    <div class="card-body">
	        <div class="row">

        	    <div class="col-md-2">
        	        <img src="https://i0.wp.com/therighthairstyles.com/wp-content/uploads/2014/03/1-medium-layered-haircut-for-square-face.jpg?w=500&ssl=1"
                   class="img-fluid rounded-circle mb-2"/>
        	    </div>
              
        	    <div class="col-md-10">
        	        <p>
        	            <a class="float-left" href="https://maniruzzaman-akash.blogspot.com/p/contact.html"><strong>Anne Martins</strong></a>
                     
                      <span class=" float-right bi bi-star-fill"></span>
                      <span class=" float-right bi bi-star-fill"></span>
                      <span class=" float-right bi bi-star-fill"></span>
                      <span class="float-right bi bi-star-fill"></span>
                      <span class="float-right bi bi-star-fill"></span>
        	       </p>

        	       <div class="clearfix m-0 p-0"></div>
        	        <p class="p-0 m-0">Father Ted is very dedicated and attentive. I have two elderly dogs, one of them diabetic, and he put on insulin and took very good care of them. They went home super happy. I highly recommend 🙂
                  </p>
                  <a class=" float-right review-time text-secondary text-right">2 days ago</a>

        	    </div>
	        </div>
	     
        </div>
        <!-- <div class="row pt-3 pr-3">
        </div> -->
	</div>
</div>

<div class="container pt-5 p-0">
	<div class="card">
	    <div class="card-body">
	        <div class="row">

        	    <div class="col-md-2">
        	        <img src="https://lookyourbestbeyourbest.files.wordpress.com/2011/11/image-3.jpeg"
                   class="img-fluid rounded-circle mb-2"/>
        	    </div>
              
        	    <div class="col-md-10">
        	        <p>
        	            <a class="float-left" href="https://maniruzzaman-akash.blogspot.com/p/contact.html"><strong>Thomas O'Brian</strong></a>
                     
                      <span class=" float-right bi bi-star-fill"></span>
                      <span class=" float-right bi bi-star-fill"></span>
                      <span class=" float-right bi bi-star-fill"></span>
                      <span class="float-right bi bi-star-fill"></span>
                      <span class="float-right bi bi-star-fill"></span>
        	       </p>

        	       <div class="clearfix m-0 p-0"></div>
        	        <p class="p-0 m-0">Father Ted is very dedicated and attentive. I have two elderly dogs, one of them diabetic, and he put on insulin and took very good care of them. They went home super happy. I highly recommend 🙂
                  </p>
                  <a class=" float-right review-time text-secondary text-right">2 days ago</a>

        	    </div>
	        </div>
	     
        </div>
        <!-- <div class="row pt-3 pr-3">
        </div> -->
	</div>
</div>
        </mat-tab>
      </mat-tab-group>
    </div>
  </div>
</div>
<div>
</div>
<link href="https://fonts.googleapis.com/icon?family=Material+Icons"
      rel="stylesheet">


