
.wallContainer
{
    background-color: #f0f0ee;
    text-align: center;
    padding: 3% 8%;
    border-top: 1px solid black;
    border-bottom: 1px solid black;
}
.addPost
{
    margin: 0 auto;
    padding: 0 8%;
}
.introContain
{
    padding: 2% 10%;
    border-bottom: 1px solid black;
    border-top: 1px solid black;
    margin: 5% 5% 0% 0;
}
.boardIntro
{
    padding: 2% 10%;
    border-bottom: 1px solid black;
   
    margin: 0% 5% 5% 0;

}
.forumNav li
{
    padding: 2% 0 2% 0;
}
.forumNav li a 
{
   
    border-right: 1px solid black;
 
}