

<div style="padding: 0 6%;">
    <div class = "introContain text-center">
      <h4>Welcome to the Pet Connect forum </h4>
      <p>Intro</p>
    </div>
  </div>

  <div class = "wallContainer">
    <mat-tab-group mat-stretch-tabs (selectedTabChange)="SetTabIndex($event)">
      <mat-tab  label="All Posts" >
        <div style="padding: 0 6%;">
          <div class = "boardIntro">
            <div *ngFor="let b of boards;">
              <h5 class = "boardTitle">{{b[0].boardTitle}}</h5>
              <p>{{b[0].description}}</p>
            </div>
            <div style="text-align: center;">
              <button class="btn btn-secondary" (click)="toggleAddPost()">Add Post</button>
            </div>
          </div>
        </div>
    
      </mat-tab>
      <mat-tab label="General">
        <div style="padding: 0 6%;">
          <div class = "boardIntro">
            <div *ngFor="let b of boards;">
              <h5 class = "boardTitle">{{b[0].boardTitle}}</h5>
              <p>{{b[0].description}}</p>
            </div>
            <div style="text-align: center;">
              <button class="btn btn-secondary" (click)="toggleAddPost()">Add Post</button>
            </div>
          </div>
        </div>
      
      </mat-tab>
      <mat-tab label="Pet Help">
        <div style="padding: 0 6%;">
          <div class = "boardIntro">
            <div *ngFor="let b of boards;">
              <h5 class = "boardTitle">{{b[0].boardTitle}}</h5>
              <p>{{b[0].description}}</p>
            </div>
            <div style="text-align: center;">
              <button class="btn btn-secondary" (click)="toggleAddPost()">Add Post</button>
            </div>
          </div>
        </div>
       
      </mat-tab>
      <mat-tab label="Walking Routes">
        <div style="padding: 0 6%;">
          <div class = "boardIntro">
            <div *ngFor="let b of boards;">
              <h5 class = "boardTitle">{{b[0].boardTitle}}</h5>
              <p>{{b[0].description}}</p>
            </div>
            <div style="text-align: center;">
              <button class="btn btn-secondary" (click)="toggleAddPost()">Add Post</button>
            </div>
          </div>
        </div>
        
      </mat-tab>
      <mat-tab label="Questions">
        <div style="padding: 0 6%;">
          <div class = "boardIntro">
            <div *ngFor="let b of boards;">
              <h5 class = "boardTitle">{{b[0].boardTitle}}</h5>
              <p>{{b[0].description}}</p>
            </div>
            <div style="text-align: center;">
              <button class="btn btn-secondary" (click)="toggleAddPost()">Add Post</button>
            </div>
          </div>
        </div>
      </mat-tab>
      <mat-tab label="Reviews">
        <div style="padding: 0 6%;">
          <div class = "boardIntro">
            <div *ngFor="let b of boards;">
              <h5 class = "boardTitle">{{b[0].boardTitle}}</h5>
              <p>{{b[0].description}}</p>
            </div>
            <div style="text-align: center;">
              <button class="btn btn-secondary" (click)="toggleAddPost()">Add Post</button>
            </div>
          </div>
        </div>
       
      </mat-tab>
    </mat-tab-group>

    <div class="addPost" *ngIf = "showAddPost">
      <app-add-post [boards] = "boards" (GetForumPosts) = "GetForumPosts($event)"></app-add-post>
    </div>

  
    
      <hr>
      <div *ngFor="let d of posts[0]">
       <app-post [post]="d" ></app-post>
      </div>
        <hr>
   </div>
  
  
