<div *ngIf="isOpen" class="container pt-5 mt-5 cognitoform">
    <amplify-authenticator [loginMechanisms]="['email']"
    [socialProviders]="['google']"
    [signUpAttributes]="[
    'name',
    'email',
    'family_name',
    ]">
      <ng-template
        amplifySlot="authenticated"
        let-user="user"
        let-signOut="signOut">
        <div  *ngIf="user.signInUserSession.accessToken.payload['cognito:groups'][0]=='PetOwner'">
           {{onCheckRoute('PetOwner')?onCheckRoute('PetOwner'):""}}
        </div>
        <div *ngIf="user.signInUserSession.accessToken.payload['cognito:groups'][0]=='PetSitter'">
          {{onCheckRoute('PetSitter')?onCheckRoute('PetSitter'):""}}
        </div >
      </ng-template>
    </amplify-authenticator>
 </div>   

 <!-- 'locale', 
 'address', 
 'updated_at', 
 'picture' -->

    <!-- <div *ngIf="authenticator?.user?.attributes?.email">
          <div ></div> -->
          <!-- <app-initial-page [userEmail]="authenticator?.user?.attributes?.email"></app-initial-page> -->
  <!-- </div> -->
<!-- <amplify-authenticator [formFields]="formFields"
[socialProviders]="['google']">
  <ng-template amplifySlot="header">
    <div style="padding: var(--amplify-space-large); text-align: center">
      <img
        class="pet-connect w-25"
        alt="Pet Connect Logo"
        src="https://www.pngkey.com/png/full/697-6975794_pet-logo-png.png"
      />
    </div>
  </ng-template> -->

  <!-- <ng-template amplifySlot="sign-in-header">
    <h3
      class="amplify-heading"
      style="padding: var(--amplify-space-xl) 0 0 var(--amplify-space-xl)"
    >
      Sign in to your account
    </h3>
  </ng-template> -->

  <!-- <ng-template amplifySlot="sign-in-footer">
    <div style="text-align: center">
      <button
        (click)="authenticator.toResetPassword()"
        class="amplify-button amplify-field-group__control"
        data-fullwidth="false"
        data-size="small"
        data-variation="link"
        type="button"
        style="font-weight: normal"
      >
        Reset Password
      </button>
    </div>
  </ng-template> -->
<!-- 
  <ng-template amplifySlot="sign-up-header">
    <h3
      class="amplify-heading"
      style="padding: var(--amplify-space-xl) 0 0 var(--amplify-space-xl)"
    >
      Create a new account
    </h3>
  </ng-template> -->

  <!-- <ng-template amplifySlot="sign-up-footer">
    <div style="text-align: center">
      <button
        (click)="authenticator.toSignIn()"
        class="amplify-button amplify-field-group__control"
        data-fullwidth="false"
        data-size="small"
        data-variation="link"
        type="button"
        style="font-weight: normal"
      >
        Back to Sign In
      </button>
    </div>
  </ng-template> -->

  <!-- <ng-template amplifySlot="footer">
    <div style="padding: var(--amplify-space-large); text-align: center">
      <p class="amplify-text" style="color: var(--amplify-colors-neutral-80)">
        © All Rights Reserved
      </p>
    </div>
  </ng-template>

  <ng-template amplifySlot="confirm-sign-up-header">
    <h3
      class="amplify-heading"
      style="padding: var(--amplify-space-xl) 0 0 var(--amplify-space-xl)"
    >
      Enter Information:
    </h3>
  </ng-template>

  <ng-template amplifySlot="confirm-sign-up-footer">
    <div>Footer Information</div>
  </ng-template>

  <ng-template amplifySlot="setup-totp-header">
    <h3
      class="amplify-heading"
      style="padding: var(--amplify-space-xl) 0 0 var(--amplify-space-xl)"
    >
      Enter Information:
    </h3>
  </ng-template>

  <ng-template amplifySlot="setup-totp-footer">
    <div>Footer Information</div>
  </ng-template>

  <ng-template amplifySlot="confirm-sign-in-header">
    <h3
      class="amplify-heading"
      style="padding: var(--amplify-space-xl) 0 0 var(--amplify-space-xl)"
    >
      Enter Information:
    </h3>
  </ng-template>

  <ng-template amplifySlot="confirm-sign-in-footer">
    <div>Footer Information</div>
  </ng-template>

  <ng-template amplifySlot="reset-password-header">
    <h3
      class="amplify-heading"
      style="padding: var(--amplify-space-xl) 0 0 var(--amplify-space-xl)"
    >
      Enter Information:
    </h3>
  </ng-template>

  <ng-template amplifySlot="reset-password-footer">
    <div>Footer Information</div>
  </ng-template>

  <ng-template amplifySlot="confirm-reset-password-header">
    <h3
      class="amplify-heading"
      style="padding: var(--amplify-space-xl) 0 0 var(--amplify-space-xl)"
    >
      Enter Information:
    </h3>
  </ng-template>

  <ng-template amplifySlot="confirm-reset-password-footer">
    <div>Footer Information</div>
  </ng-template>

  <ng-template
    amplifySlot="authenticated"
    let-user="user"
    let-signOut="signOut"
  >
    <h2>Welcome, {{ user.username }}!</h2>
    <button (click)="signOut()">Sign Out</button>
  </ng-template>
</amplify-authenticator>
 -->
