.star {
    position: relative;
    display: inline-block;
    font-size: 3rem;
    color: #d3d3d3;
  }
  ngb-rating {
    color: rgb(255, 174, 0);
    font-size: 40px;
  }
  
  
  .img-profile {
	border-radius: 50%;
	width: 35px;
	height: 35px;
	margin-right: 10px;
}