@import "../../../variables.scss";

.main-container {
  height: 300px;
  // background: linear-gradient(90deg,rgba(47,45,65,.5),rgba(47,10,65,.3)),url('../../../assets/images/home/banner-home-desktop.webp');
  background: linear-gradient(90deg, rgba(47, 45, 65, .5), rgba(47, 10, 65, .3)), url('https://images.pexels.com/photos/160846/french-bulldog-summer-smile-joy-160846.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=2');
  display: block;
  position: relative;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  color: white !important;
  background-position: 100%;
  background-repeat: no-repeat;
  background-size: cover;
  height: auto;
  opacity: 1;
  color: black;
}

.bi-star-fill {
  padding: 0.2rem;
  font-size: 2rem;
  color: orange;
}

.card-bullets-header {
  background: #f0f1f1;
  height: 56px;
}

.card-strong {
  font-size: 1.125rem;
  color: rgba(0, 0, 0, .66);
  display: block;
  width: 100%;
  text-align: center;
  padding-top: 24px;
}

.example-additional-selection {
  opacity: 0.75;
  font-size: 0.75em;
}

.first-item {
  &:hover {
    border: 1px solid #487BA5;
    background-color: white;
  }
}

.first-item.active {
  background-color: #487BA5;
  color: white !important;
}

.fourth-item {
  &:hover {
    border: 1px solid #E58A86;
  }
}

.fourth-item.active {
  background-color: #E58A86;
  color: white !important;
}

.home-search-box {
  background-color: #fff;
  border-radius: 0.25rem;
  z-index: 2;
  margin-top: 5rem;
  margin-bottom: 5rem;
  padding: 20px 20px 8px 20px;
  color: rgba(0, 0, 0, .66);
}

.home-testimonial {
  background-color: #487BA5;

  h2 {
    color: white;
    font-size: 28px;
    font-weight: 700
  }

  h3 {
    color: #ffff;
    font-size: 14px;
    font-weight: 500;
    text-transform: uppercase
  }

  &-bottom {}
}

.icon-sleepover {
  width: 3rem;

  // Small devices (landscape phones, 576px and up)
  @media (min-width: 576px) {
    width: 3rem;
  }

  // Medium devices (tablets, 768px and up)
  @media (min-width: 768px) {
    width: 4rem;
  }

  // Large devices (desktops, 992px and up)
  @media (min-width: 992px) {
    width: 5rem;
  }

  // X-Large devices (large desktops, 1200px and up)
  @media (min-width: 1200px) {}

  // XX-Large devices (larger desktops, 1400px and up)
  @media (min-width: 1400px) {}
}

.img-fluid {
  max-width: 100%;
  height: auto;
  padding-right: 0.3rem;
}

.invitation {
  background-color: #f0f1f1;
}

.lazyloaded {
  position: absolute;
  top: 20px;
  left: calc(50% - 22px);
}

.link-more {
  color: #028177 !important;
  text-decoration: underline;
  font-weight: 700;
  cursor: pointer;

  &:hover {
    text-decoration: underline;
    color: #028177;
  }
}

.link-name {
  font-size: 14px;
  color: #6c83a2
}

.link-position {
  font-size: 12px;
  color: #6c83a2;
}

.list-bullets {
  border: 1px solid #f0f1f1;
  border-radius: 0.25rem;
  border-top: none;
  list-style-type: none;
  color: rgba(0, 0, 0, .42);
}

.main-container {
  background: linear-gradient(90deg, rgba(47, 45, 65, .5), rgba(47, 10, 65, .3)), url('https://images.pexels.com/photos/160846/french-bulldog-summer-smile-joy-160846.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=2');
  color: white !important;
  background-position: 100%;
  background-repeat: no-repeat;
  background-size: cover;
  color: black;
}

.mat-form-field {
  display: inline;
}

.md-inline-form md-datepicker {
  margin-top: 15px;
}

.tab {
  .nav-item {
    border: 1px solid rgba(0, 0, 0, .125);
    border-radius: 0.25rem;
    display: flex;
    align-items: center;

    .icon {
      aspect-ratio: 1/1;
      width: 18px;
      height: 18px;

      // Small devices (landscape phones, 576px and up)
      @media (min-width: 576px) {}

      // Medium devices (tablets, 768px and up)
      @media (min-width: 768px) {
        width: 25px;
        height: 25px;
      }

      // Large devices (desktops, 992px and up)
      @media (min-width: 992px) {
        width: 45px;
        height: 45px;
      }

      // X-Large devices (large desktops, 1200px and up)
      @media (min-width: 1200px) {}

      // XX-Large devices (larger desktops, 1400px and up)
      @media (min-width: 1400px) {}
    }

    .nav-title {
      font-weight: 600;
      font-size: 14px;

      // Small devices (landscape phones, 576px and up)
      @media (min-width: 576px) {
        font-size: 16px;
      }

      // Medium devices (tablets, 768px and up)
      @media (min-width: 768px) {
        font-size: 17px;
      }

      // Large devices (desktops, 992px and up)
      @media (min-width: 992px) {
        font-size: 20px;
      }

      // X-Large devices (large desktops, 1200px and up)
      @media (min-width: 1200px) {}

      // XX-Large devices (larger desktops, 1400px and up)
      @media (min-width: 1400px) {}
    }
  }
}

.search-btn {
  width: 8rem;
  height: 3.2rem;
  margin-top: 0.3rem;
  background-color: #17a2b8 !important;
  color: white;
}

.second-item {
  &:hover {
    border: 1px solid #338F90;
  }
}

.second-item.active {
  background-color: #338F90;
  color: white !important;
}

.service {
  color: #63656a;
}

.service-description {
  color: rgba(0, 0, 0, .42)
}

// testimonial ITEM 
.testimonial {
  .tour-desc {
    color: rgba(0, 0, 0, .42);
    border-radius: 5px;
    padding: 40px
  }

  img.tm-people {
    width: 60px;
    height: 60px;
    -webkit-border-radius: 50%;
    border-radius: 50%;
    -o-object-fit: cover;
    object-fit: cover;
    max-width: none
  }
}

.third-item {
  &:hover {
    border: 1px solid #BD83A3;
  }
}

.third-item.active {
  background-color: #BD83A3;
  color: white !important;
}

.user-search {
  color: rgba(0, 0, 0, .42);
  font-size: .875rem;
  font-weight: 400;
  margin-bottom: 4px;
  display: block;
}

@media screen and (max-width: 480px) {
  .home-testimonial-bottom div div :nth-child(2) {
    display: none;
  }
}

@media screen and (max-width: 480px) {
  .home-testimonial-bottom div div :nth-child(3) {
    display: none;
  }
}




@media screen and (max-width: 480px) {
  .home-testimonial-bottom div div :nth-child(2) {  
   display: none;
  }

  .icon-sleepover{
    width: 2.5rem;
  }

}

@media screen and (max-width: 480px) {
  .home-testimonial-bottom div div :nth-child(3) {  
   display: none;
  }

}

// @media screen and (min-width: 480px) {
//   .home-testimonial-bottom div div :nth-child(2) {  
//    display: none;
//   }

// }