<!-- <div *ngIf="!DisplayMessage">  -->
<div class="container-xxl pt-5">
    <h2 class="pt-2">Manage Orders</h2>
    <div class="row">
        <div class="col-12">
            <mat-tab-group animationDuration="0ms">
                <mat-tab label="ACTIVE" (click)="getOrders()" class="table">
                        <div class="panel panel-default">
                                <div class="panel-heading">
                                    <div class="row pt-3">
                                        <div *ngIf="userGroup!='PetOwner'" class="col-12 d-flex justify-content-end" >
                                            <button class="btn btn-success" (click)="onCreateOrder()">Create Order</button>
                                        </div>
                                    </div>
                                </div>
                        <div class="panel-body pt-2">
                                    <table class="table table-condensed table-striped">
                    <thead>
                        <tr>
                        <th></th>
                        <th></th>
                        <th></th>
                         <th></th>
                         <th></th>
                        <th></th>
                  
                        <th>DATE</th>
                        <th>DUE ON</th>
                        <th>PAYMENT STATUS</th>
                        <th>TOTAL</th>
                        <th>STATUS</th>
                        </tr>
                    </thead>
                    <tbody  *ngFor="let o of orders;let i=index" >
        <tr  data-toggle="collapse" data-toggle="collapse" [attr.data-target]=" '#' + orders[i]?.Name +''+ orders[i]?.OrderID"  class="accordion-toggle">
            <td><button class="btn btn-default btn-xs"><i class="bi bi-eye"></i></button></td>
            <td><img src="{{orders[i]?.Profile_Pic_URL}}" class="img-profile" width="65px" alt=""></td>
            <td (click)="GetPetOwnerDetails(o.UserID, o.EmailAddress)">{{o.Name}} {{o.Surname}}</td>
            <td></td>
            <td>{{o?.ServiceTitle}}</td>
            <td></td>
            <td>{{o?.OrderDate | date}}</td>
            <td>{{o?.OrderDate | date}}</td>
            <td><span class="badge {{o.PaymentStatus}}">{{o.PaymentStatus}}</span></td>
            <td *ngIf="o?.PaymentStatus!='Refounded'">{{o?.Price }}</td>
            <td *ngIf="o?.PaymentStatus=='Refounded'"><s>{{o?.Price }}</s></td>
            <td><span class="badge {{o.Status}}">{{o.Status}}</span></td>
          </tr>
        <tr>
            <td colspan="12" class="hiddenRow">
                <div [attr.id]="orders[i]?.Name+''+ orders[i]?.OrderID"  class="accordian-body collapse p-0 m-0">
                   <div class="row pl-4 pt-2">
                     
                        <div class="row pl-5 pt-3">
                            <div class="col-6 text-justify card-text">
                                             <button  *ngIf="userGroup === 'PetSitter' && (o.Status === 'Processing' || o.Status==='Executing')" (click)="petsitterisworking ? finishWorking(orders[i]) : startWorking(orders[i])"
                                mat-raised-button color="primary">{{o.Status==='Executing' ? 'Finish Order' : 'Start Order Execution'}}</button>

                                <div class="pt-3">
                                      <h5 *ngIf="o.OrderDescription!='undefined'">Order Description</h5>
                                <p *ngIf="o.OrderDescription!='undefined'">{{o.OrderDescription}}</p>
                                <h5>More about the service offered</h5>
                                <p>{{o.Description}}</p>
                              
                                </div>
                              
                                <!-- <button *ngIf="userGroup==='PetSitter' && o.Status =='Processing'" (click)="startWorking()">Start Order</button> -->
                   

                                <div *ngIf="o.ServiceTitle=='Dog Walk' && o.Status=='Executing'" class="pt-4">
                                    <app-tracker-order></app-tracker-order>
                                </div>
                            </div>
                            <div class="col-6 d-flex justify-content-end">
                                <div class="row">
                                    <div class="col-6"></div>
                                    <div class="col-6">
                                          <app-payment [order]="orders[i]"  (updateStatus)="updateStatus($event)"></app-payment>
                                         
                                    </div>
                                </div>
                        </div>
                        <div class="row">
                            <div class="col-6 p-3">
                                <p></p>
                                <!-- <button > see pet owner</button> -->
                            </div>
                        </div>
                    </div>
                    
                </div>
                </div>
            </td>
        </tr>
    </tbody>
</table>

            </div>
          </div> 
                </mat-tab>
                <mat-tab label="COMPLETED">
                    
                </mat-tab>
                <mat-tab label="DRAFT">

                </mat-tab>
            </mat-tab-group>
        </div>
    </div>
</div>
<!-- </div> -->

<!-- <div *ngIf="DisplayMessage">
    <app-action-message [title]="'Order Completed!'"></app-action-message>
</div> -->
