
body{
	padding-top:50px;
	background-color:#ccd7e1;
}



.hiddenRow {
    padding: 0 !important;
}
tbody{
	background-color:#ffffff;

}
tr{
	background-color:#ffffff;
}

img {
	border-radius: 50%;
	width: 36px;
	height: 36px;
	margin-right: 10px;
}