<div class="container-xxl pt-5">
<div class="row" *ngIf="authenticator?.user?.attributes?.email== 'joannasmith@gmail.com' ">
<div class="col-4">
  <div class="row">
    <div class="col-12">
      <div class="tab-content">
        <div class="col-md-12 col-xl-12">
          <div class="card mb-3">
            <div class="card-header">
              <h5 class="card-title mb-0">My Profile</h5>
            </div>
            <div class="card-body text-center">
              <img src={{petOwner?.profilePicUrl}} alt="Stacie Hall" class="img-fluid rounded-circle mb-2" width="150" height="150">
              <h5 class="card-title mb-0">{{petOwner?.name}} {{petOwner?.surname}}</h5>
              <div class="text-muted mb-2"></div>
            </div>
            <hr class="my-0">
            <div class="card-body">
              <h5 class="h6 card-title">About</h5>
              <ul class="list-group list-group-flush pb-4">
                <li class="list-group-item "><i class="bi bi-envelope profile-icons"></i>{{petOwner?.emailAddress}}</li>
                <li class="list-group-item"><i class="bi bi-telephone  profile-icons"></i>{{petOwner?.mobileNumber}}</li>
                <a class="list-group-item"><i class="bi bi-geo-alt-fill profile-icons"></i>{{petOwner?.line1}} - {{petOwner?.county}}</a>
              </ul>
              <div class="row text-center d-flex justify-content-center">
               <div class="btn btn-outline-info w-50" (click)="onCreate()">
                Edit Profile
              </div>
              </div>
            
            </div>
            <hr class="my-0">
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

    <div class="col-8 pl-5 ">
      <mat-tab-group animationDuration="0ms">
        <mat-tab label="Active Pets">
          <div class="row">
            <div class="col-4 mt-4">
              <div class="card p-4" (click)="onCreatePet()">
                <div class="text-center card-body">
                  <div class="member-card">
                    <i class="bi bi-plus-circle-fill text-info"></i>
                    <p>Add a new Pet</p>
                  </div>
              </div>
              </div>
            </div>
            <div class="col-4 mt-4 mb-2" *ngFor="let pet of petDetails">
                <div class="card">
                  <div class="text-center card-body pb-1">
                    <div class="member-card">
                        <div class="thumb-lg member-thumb mx-auto"><img src={{pet?.petImageUrl}} class="rounded-circle img-thumbnail" alt="profile-image"></div>
                        <div class="pt-2">
                            <h4>{{pet?.name}}</h4>
                        </div>
                        <ul class="social-links list-inline mb-auto pt-1 d-flex justify-content-between pl-3 pr-3">
                          <li class="list-inline-item p-2"><a title="" data-placement="top" data-toggle="tooltip" class="tooltips " href="" data-original-title="SpecialCare"><span class="material-symbols-outlined">
                            medical_information</span></a></li>
                            <li class="list-inline-item p-2"><a title="" data-placement="top" data-toggle="tooltip" class="tooltips" href="" data-original-title="Vaccines"><span class="material-symbols-outlined">vaccines</span></a></li>
                            <li class="list-inline-item p-2"><a title="" data-placement="top" data-toggle="tooltip" class="tooltips" href="" data-original-title="Behavior"><span class="material-symbols-outlined">pets</span></a></li>
                        </ul>
                            <div class="row pt-0">
                              <div class="card-body pt-0 ">
                              <ul class="list-group list-group-flush">
                                <li class="list-group-item d-flex justify-content-start"><i class="material-symbols-outlined pr-4">pets</i>{{pet?.petBreed}}</li>
                                <li class="list-group-item d-flex justify-content-start"><i class="bi bi-calendar-heart pr-4"></i>{{pet?.dob | date: 'mediumDate'}}</li>
                                <a class="list-group-item d-flex justify-content-start"><i class="material-symbols-outlined p-0">description</i>{{pet?.description}}</a>
                              </ul>
                            </div>
                       <!-- <button type="" class="btn btn-primary" >See Certificate</button> -->
                    </div>
                    </div>
                    </div>
                </div>
                </div>
            </div>
        </mat-tab>
       
        <mat-tab label="Draft">
          <div class="row pt-4">
          <div class="col-4">
            <div class="card">
              <div class="text-center card-body">
                <div class="member-card">
                    <div class="thumb-lg member-thumb mx-auto"><img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQeFpdmHDg4o0Yi-xBZ7kKRJvhl54_Z3jzVfXhJvPiJ26cXJA017tw6LlNzjimNqpmbDgs&usqp=CAU" class="rounded-circle img-thumbnail" alt="profile-image"></div>
                    <div class="pt-2">
                        <h4>{{petDetails?.name}}</h4>
                    </div>
                    <ul class="social-links list-inline mb-auto pt-1">
                      <li class="list-inline-item p-2"><a title="" data-placement="top" data-toggle="tooltip" class="tooltips " href="" data-original-title="SpecialCare"><span class="material-symbols-outlined">
                        medical_information</span></a></li>
                        <li class="list-inline-item p-2"><a title="" data-placement="top" data-toggle="tooltip" class="tooltips" href="" data-original-title="Vaccines"><span class="material-symbols-outlined">vaccines</span></a></li>
                        <li class="list-inline-item p-2"><a title="" data-placement="top" data-toggle="tooltip" class="tooltips" href="" data-original-title="Behavior"><span class="material-symbols-outlined">pets</span></a></li>
                    </ul>
                        <div class="row">
                          <div class="card-body">
                          <ul class="list-group list-group-flush pb-4">
                            <li class="list-group-item "><i class="bi bi-envelope profile-icons"></i>{{pet.dob}}</li>
                            <li class="list-group-item"><i class="bi bi-telephone  profile-icons"></i>{{pet.petBreed}}</li>
                            <a class="list-group-item"><i class="bi bi-geo-alt-fill profile-icons"></i>{{pet.description}}</a>
                          </ul>
                        </div>
                   <button type="" class="btn btn-primary" >See Certificate</button>
                </div>
                </div>
                </div>
            </div>
            </div>
          </div> 
          
        </mat-tab>
        <mat-tab label="Memorial">
        </mat-tab>
      </mat-tab-group>
      </div>
     </div>
     <div class="row" *ngIf="authenticator?.user?.attributes?.email== 'fatherted@gmail.com'">
      <div class="col-4">
        <div class="row">
          <div class="col-12">
            <div class="tab-content">
              <div class="col-md-12 col-xl-12">
                <div class="card mb-3">
                  <div class="card-header d-flex justify-content-between">
                      <h5 class="card-title mb-0">Pet Sitter</h5>
                      <!-- <i class="bi bi-heart"> save</i> -->
                  </div>
                  <div class="card-body text-center pb-0 ">
                    <img src={{petSitter?.profilePicUrl}} alt="Stacie Hall" class="img-fluid rounded-circle mb-2" width="128" height="128">
                    <h5 class="card-title mb-0">{{petSitter?.name}} {{petSitter?.surname}}</h5>
                    <div class="text-muted">
                    </div>
                    <div class="mt-3">
                      <div class="h-100">
                          <span *ngFor="let _ of [].constructor(averageRoundStars)" class="bi bi-star-fill"></span>
                          
                          <span class="review my-auto pl-2"><u>{{petSitter?.numReviews}}</u></span>
         
                      </div>
                    </div>
                  </div>
                  <hr class="my-0">
                  <div class="card-body">
                    <h5 class="pl-4 card-title">About</h5>
                    <ul class="list-group list-group-flush pb-4">
                      <li class="list-group-item "><i class="bi bi-envelope profile-icons"></i>{{petSitter?.emailAddress}}</li>
                      <li class="list-group-item"><i class="bi bi-telephone  profile-icons"></i>{{petSitter?.mobileNumber}}</li>
                      <a class="list-group-item"><i class="bi bi-geo-alt-fill profile-icons"></i>{{petSitter?.line1}} - {{petSitter?.county}} </a>
                    </ul>
                    <div class="row text-center d-flex justify-content-center">
                     <div class="btn btn-outline-info w-50" (click)="onCreate()">
                      Edit Profile
                    </div>
                    
                    </div>
                    <div class="row text-center d-flex justify-content-center pt-4">
                      <div class="btn btn-outline-info w-50" (click)="onCreateOrder()">
                      Create Order 
                     </div>
                     </div>
                  </div>
                  <hr class="my-0">
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      
      
      
          <div class="col-8 pl-5">
            <mat-tab-group animationDuration="0ms">
              <mat-tab label="Schedule">
                <div>
                  <app-calendar></app-calendar>
                </div>
              </mat-tab>
              <mat-tab label="Schedule">
                <div>
                  <app-calendar></app-calendar>
                </div>
              </mat-tab>


              <mat-tab label="Active service">
                <ng-template mat-tab-label>
                  <span (click)="getServices(petSitter?.id)">Active service</span>
              </ng-template>
                <div class="row pt-4 container">
                  <div class="col-4">
                    <div class="card p-4" *ngFor="let s of serviceList">
                      <div class="text-center card-body">
                        <div class="member-card">
                          <span class="align-middle nav-title"><strong class="d-inline-block d-md-inline title">{{s.ServiceTitle}}</strong>
                            <br></span>
                          <picture class="align-middle pr-3" *ngIf="s.ServiceTitle.includes(picKeyWords[1])">
                            <img src="../../../assets/images/home/walk-selected.svg" alt="Creche" class="img-fluid">
                          </picture>
                          <picture class="align-middle pr-3" *ngIf="s.ServiceTitle.includes(picKeyWords[0])">
                            <img src="../../../assets/images/home/petsitting-selected.svg" alt="Creche" class="img-fluid">
                          </picture>
                          <picture class="align-middle pr-3" *ngIf="s.ServiceTitle.includes(picKeyWords[3])">
                            <img src="../../../assets/images/home/daycare-selected.svg" alt="Creche" class="img-fluid">
                          </picture>
                          <picture class="align-middle pr-3" *ngIf="s.ServiceTitle.includes(picKeyWords[2])">
                            <img src="../../../assets/images/home/boarding-selected.svg" alt="Creche" class="img-fluid">
                          </picture>
                         <div>
                           <p>{{s.Description | slice:0:35}}</p>
                         </div>
                        </div>
                    </div>
                    </div>
                  </div>
                  <div class="col-4">
                    <div class="card p-4" (click)="onCreateService()">
                      <div class="text-center card-body">
                      
                        <div class="member-card">
                          <i class="bi bi-plus-circle-fill text-info"></i>
                          <p>Create a new Service</p>
                        </div>
                    </div>
                    </div>
                  </div>
                  
                </div>
      
              </mat-tab>
             
             
              <mat-tab label="Draft">
                <!-- <div class="row pt-4">
                <div class="col-4">
                  <div class="card">
                    <div class="text-center card-body">
                      <div class="member-card">
                        <div class="thumb-lg member-thumb mx-auto"><img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQeFpdmHDg4o0Yi-xBZ7kKRJvhl54_Z3jzVfXhJvPiJ26cXJA017tw6LlNzjimNqpmbDgs&usqp=CAU" class="rounded-circle img-thumbnail" alt="profile-image"></div>
                          <div class="pt-2">
                              <h4>{{petDetails?.name}}</h4>
                          </div>
                          <ul class="social-links list-inline mb-auto pt-1">
                            <li class="list-inline-item p-2"><a title="" data-placement="top" data-toggle="tooltip" class="tooltips " href="" data-original-title="SpecialCare"><span class="material-symbols-outlined">
                              medical_information</span></a></li>
                              <li class="list-inline-item p-2"><a title="" data-placement="top" data-toggle="tooltip" class="tooltips" href="" data-original-title="Vaccines"><span class="material-symbols-outlined">vaccines</span></a></li>
                              <li class="list-inline-item p-2"><a title="" data-placement="top" data-toggle="tooltip" class="tooltips" href="" data-original-title="Behavior"><span class="material-symbols-outlined">pets</span></a></li>
                          </ul>
                              <div class="row">
                                <div class="card-body">
                                <ul class="list-group list-group-flush pb-4">
                                  <li class="list-group-item "><i class="bi bi-envelope profile-icons"></i>{{pet.dob}}</li>
                                  <li class="list-group-item"><i class="bi bi-telephone  profile-icons"></i>{{pet.petBreed}}</li>
                                  <a class="list-group-item"><i class="bi bi-geo-alt-fill profile-icons"></i>{{pet.description}}</a>
                                </ul>
                              </div>
                         <button type="" class="btn btn-primary" >See Certificate</button>
                      </div>
                      </div>
                      </div>
                  </div>
                  </div>
                </div>  -->
              </mat-tab>
              <mat-tab label="Reviews">
                <ng-template mat-tab-label>
                  <span (click)="getReviews(43)">Reviews</span>
              </ng-template>
              <div *ngFor="let r of reviews">
        
                <app-review [review] = "r"></app-review>
              </div>
      
              </mat-tab>
              <mat-tab label="Set Preferences">
      
              </mat-tab>
            <mat-tab label="New Posts">
              <mat-tab-group mat-stretch-tabs class="pt-3">
                <mat-tab label = "Pet Help">
                  <div class = "background">
                    <div class = "post">
                      <h6 class = "pt-3">My dog has a rash</h6>
                      <p>Wed Dec 07 2022</p>
                      <p><small>laborum et dolorum fuga. Et harum quidem rerum facilis est et expedita distinctio. Nam libero tempore, cum soluta nobis est eligendi optio cumque nihil impedit quo minus id quod maxime placeat facere possimus, omnis voluptas assumenda est, omnis dolor repellendus. Temporibus autem quibusdam et aut officiis debitis aut rerum necessitatibus saepe eveniet ut et voluptates repudiandae sint et molestiae non recusandae. Itaque earum rerum hic tenetur a sapiente delectus, ut aut reiciendis voluptatibus maiores alias consequatur aut perferendis doloribus asperiores repellat."</small></p>

                      <div class = "row justify-content-center">
                        <img src="../../../assets/images/comment.png" style="width: 6.5%;" alt="" class = " text-center" (click)="comments1 = ! comments1">

                      </div>
                     
                     
                      <div *ngIf="comments1" class="pt-3">
                        <div class = "background pt-4">
                          <div class = "post">
                            <h6>Thu Dec 08 2022</h6>
                            <p><small>laborum et dolorum fuga. Et harum quidem rerum facilis est et expedita distinctio</small></p>
                          </div>
                          <div class = "post" style="margin-top: 2%;">
                            <h6>Thu Dec 08 2022</h6>
                            <p><small>maiores alias consequatur aut perferendis doloribus asperiores repella</small></p>
                          </div>

                          <div class = "text-center mt-4 mb-4" *ngIf="com">
                            <textarea type="content" class="form-control"  placeholder="Comment" #comment></textarea>
                          </div>

                          <div class = "row justify-content-center">
                            <button class="btn btn-secondary btn-sm mt-3 mb-3" style="width: 15%;" (click)="com = ! com">Add Comment</button>
                          </div>
                       
                      
                        </div>

                        
                      </div>
                    </div>

                  </div>

                  <div class = "background">
                    <div class = "post">
                      <h6 class = "pt-3">Pet Sitters in Sligo</h6>
                      <p>Wed Dec 07 2022</p>
                      <p><small>Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo. Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut odit aut fugit, sed quia consequuntur</small></p>
                      <div class = "row justify-content-center">
                        <img src="../../../assets/images/comment.png" style="width: 6.5%;" alt="" class = " text-center" (click)="comments2 = ! comments2">
                      </div>
                      <div *ngIf="comments2">
                       
                      </div>
                    </div>

                  </div>
                  
                </mat-tab>
                <mat-tab label = "Walking Routes">
                  <div class = "background">
                    <div class = "post">
                      <h6 class = "pt-3">New walking routes Sligo</h6>
                      <p>Wed Dec 07 2022</p>
                      <p><small>laborum et dolorum fuga. Et harum quidem rerum facilis est et expedita distinctio. Nam libero tempore, cum soluta nobis est eligendi optio cumque nihil impedit quo minus id quod maxime placeat facere possimus, omnis voluptas assumenda est, omnis dolor repellendus. Temporibus autem quibusdam et aut officiis debitis aut rerum necessitatibus saepe eveniet ut et voluptates repudiandae sint et molestiae non recusandae.</small></p>
                      <div class = "row justify-content-center">
                        <img src="../../../assets/images/comment.png" style="width: 6.5%;" alt="" class = " text-center" (click)="comments3 = ! comments3">

                      </div>
                      <div *ngIf="comments3">
  
                      </div>
                    </div>

                  </div>
                  <div class = "background">
                    <div class = "post">
                      <h6 class = "pt-3">Has anyone walked this route in Carrick</h6>
                      <p>Wed Dec 07 2022</p>
                      <p><small>Et harum quidem rerum facilis est et expedita distinctio. Nam libero tempore, cum soluta nobis est eligendi optio cumque nihil impedit quo minus id quod maxime placeat facere possimus, omnis voluptas assumenda est, omnis dolor repellendus. Temporibus autem quibusdam et aut officiis debitis aut rerum necessitatibus saepe eveniet ut et voluptates repudiandae sint et molestiae non recusandae.</small></p>
                      <div class = "row justify-content-center">
                        <img src="../../../assets/images/comment.png" style="width: 6.5%;" alt="" class = " text-center" (click)="comments4 = ! comments4">
                      </div>
                      <div *ngIf="comments4">
  
                      </div>
                    </div>

                  </div>
                  
                </mat-tab>
              </mat-tab-group>
            </mat-tab>
            </mat-tab-group>
      
             
            </div>
    
           </div>

     </div>
<div>
</div>

<!-- 
  <div class="row mt-3">
      <div class="card">
            <div class="card-header">
              <div class="card-actions float-end">
                <div class="dropdown position-relative">
                  <a href="#" data-bs-toggle="dropdown" data-bs-display="static" aria-expanded="false" class="">
                    <i class="bi bi-pencil-square"></i>
                  </a>
                </div>
              </div>
              <h5 class="card-title mb-0">Pet(s) Info Displayed</h5>
            </div>
            <div class="card-body">
              <form>
                <div class="row">
                  <div class="col-md-8">
                    <div class="mb-3">
                      
                      <label for="inputUsername" class="form-label">Name</label>
                      <input type="text" class="form-control" id="inputUsername" placeholder="Pet Name">
                    </div>
                    <div class="mb-3">
                      <label for="inputUsername" class="form-label">Description</label>
                      <textarea rows="2" class="form-control" id="inputBio"
                        placeholder="Tell something about yourself"></textarea>
                    </div>
                  </div>
                  <div class="col-md-4">
                    <div class="text-center">
                      <img alt="frank" src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQeFpdmHDg4o0Yi-xBZ7kKRJvhl54_Z3jzVfXhJvPiJ26cXJA017tw6LlNzjimNqpmbDgs&usqp=CAU" class="rounded-circle img-responsive mt-2"
                        width="128" height="128">
                      <div class="mt-2">
                        <span class="btn btn-primary"><i class="fas fa-upload"></i> Upload</span>
                      </div>
                      <small>For best results, use an image at least 128px by 128px in .jpg format</small>
                    </div>
                  </div>
                </div>
                <button type="submit" class="btn btn-primary">Save changes</button>
              </form>
            </div>
          </div> 

        </div> 
 -->


<!-- <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css" rel="stylesheet"> -->
<!-- <div class="content">
    <div class="container">
        <div class="row">
            <div class="col-sm-4"><a href="#custom-modal" class="btn btn-custom waves-effect waves-light mb-4" data-animation="fadein" data-plugin="custommodal" data-overlayspeed="200" data-overlaycolor="#36404a"><i class="mdi mdi-plus"></i> Add Pet</a></div>
        </div>
        <div class="row">
            <div class="col-lg-3">
              <div class="card">
                <div class="text-center card-body">
                  <div class="member-card pt-2 pb-2">
                      <div class="thumb-lg member-thumb mx-auto"><img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQeFpdmHDg4o0Yi-xBZ7kKRJvhl54_Z3jzVfXhJvPiJ26cXJA017tw6LlNzjimNqpmbDgs&usqp=CAU" class="rounded-circle img-thumbnail" alt="profile-image"></div>
                      <div class="">
                          <h4>Bella</h4>
                      </div>
                      <ul class="social-links list-inline mb-auto">
                        <li class="list-inline-item"><a title="" data-placement="top" data-toggle="tooltip" class="tooltips " href="" data-original-title="SpecialCare"><span class="material-symbols-outlined">
                          medical_information</span></a></li>
                          <li class="list-inline-item"><a title="" data-placement="top" data-toggle="tooltip" class="tooltips" href="" data-original-title="Vaccines"><span class="material-symbols-outlined">vaccines</span></a></li>
                          <li class="list-inline-item"><a title="" data-placement="top" data-toggle="tooltip" class="tooltips" href="" data-original-title="Behavior"><span class="material-symbols-outlined">pets</span></a></li>
                      </ul>
                      <div class="mt-4">
                          <div class="row">
                            <div class="col-2"></div>
                              <div class="col-4">
                                  <div class="mt-3">
                                      <h4>25</h4>
                                      <p class="mb-0 text-muted">Positive reviews</p>
                                  </div>
                              </div>
                              <div class="col-4">
                                  <div class="mt-3">
                                      <h4>6952</h4>
                                      <p class="mb-0 text-muted">Km walked</p>
                                  </div>
                              </div>
                          </div>
                      </div>
                  </div>
              </div>
              </div>
            </div>
</div>
 -->


<!-- 
      <div class="tab-content">
        <div class="tab-pane fade show active" id="account" role="tabpanel">
          <div class="card mb-3">
            <div class="card-header">
              <div class="card-actions float-end">
                <div class="dropdown position-relative">
                  <a  (click)="isReadOnly = !isReadOnly">
                    <i class="bi bi-pencil-square"></i>
                  </a>
                </div>
              </div>
              <h5 class="card-title mb-0">Private info</h5>
            </div>
            <div class="card-body">
              <form>
                <div class="row">
                  <div class="mb-3 col-8">
                    <div class="row">
                      <div class="col-6  mb-3">
                         <label for="inputFirstName"  class="form-label">First name</label>
                      <input type="text" [readonly]="isReadOnly" class="form-control" id="inputFirstName" placeholder="First name">
                      </div>
                      <div class="col-6 mb-3">
                        <label for="inputLastName" class="form-label">Last name</label>
                        <input type="text" [readonly]="isReadOnly" class="form-control" id="inputLastName" placeholder="Last name">
                      </div>
                      <div class="col-12 mb-3">
                        <label for="inputEmail4" class="form-label">Email</label>
                        <input type="email" readonly class="form-control" id="inputEmail4" placeholder="{{authenticator?.user?.attributes?.email }}">
                      </div>
                      <div class="col-12">
                         <div class="mb-3">
                         <label for="inputAddress" class="form-label">Address</label>
                         <input type="text"  [readonly]="isReadOnly" class="form-control" id="inputAddress" placeholder="1234 Main St">
                       </div>
                      </div>
                    </div>
                  </div>
                  <div class="mb-3 col-4">
                    <div class="row">
                      <div class="col-md-12">
                        <div class="text-center">
                          <img alt="frank" src="https://i.guim.co.uk/img/media/831ce4428aa017e2d4c9f883be27baeef95ef894/312_237_6076_3644/master/6076.jpg?width=1200&height=1200&quality=85&auto=format&fit=crop&s=e0508d322f18a9230080d1edfd8a5315" class="rounded-circle img-responsive mt-2"
                            width="128" height="128">
                          <div class="mt-2">
                            <span class="btn btn-primary"><i class="fas fa-upload"></i> Upload</span>
                          </div>
                          <small>For best results, use an image at least 128px by 128px in .jpg format</small>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="mb-3">
                  <label for="inputAddress2" class="form-label">Address 2</label>
                  <input type="text" [readonly]="isReadOnly"  class="form-control" id="inputAddress2" placeholder="Apartment, studio, or floor">
                </div>
                <div class="row">
                  <div class="mb-3 col-md-6">
                    <label for="inputCity" class="form-label">Town</label>
                    <input type="text" [readonly]="isReadOnly"  class="form-control" id="inputCity">
                  </div>
                  <div class="mb-3 col-md-4">
                    <label for="inputState" class="form-label">County</label>
                    <select id="inputState"  class="form-control">
                      <option selected="">Choose...</option>
                      <option>...</option>
                    </select>
                  </div>
                  <div class="mb-3 col-md-2">
                    <label for="inputZip" class="form-label">Zip</label>
                    <input [readonly]="isReadOnly"  type="text" class="form-control" id="inputZip">
                  </div>
                </div>
                <button type="submit" class="btn btn-primary">Save changes</button>
              </form>

            </div>
          </div>
          <div class="card">
            <div class="card-header">
              <div class="card-actions float-end">
                <div class="dropdown position-relative">
                  <a href="#" data-bs-toggle="dropdown" data-bs-display="static" aria-expanded="false" class="">
                    <i class="bi bi-pencil-square"></i>
                  </a>
                </div>
              </div>
              <h5 class="card-title mb-0">Pet(s) info</h5>
            </div>
            <div class="card-body">
              <form>
                <div class="row">
                  <div class="col-md-8">
                    <div class="mb-3">
                      <label for="inputUsername" class="form-label">Name</label>
                      <input type="text" class="form-control" id="inputUsername" placeholder="Pet Name">
                    </div>
                    <div class="mb-3">
                      <label for="inputUsername" class="form-label">Description</label>
                      <textarea rows="2" class="form-control" id="inputBio"
                        placeholder="Tell something about yourself"></textarea>
                    </div>
                  </div>
                  <div class="col-md-4">
                    <div class="text-center">
                      <img alt="frank" src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQeFpdmHDg4o0Yi-xBZ7kKRJvhl54_Z3jzVfXhJvPiJ26cXJA017tw6LlNzjimNqpmbDgs&usqp=CAU" class="rounded-circle img-responsive mt-2"
                        width="128" height="128">
                      <div class="mt-2">
                        <span class="btn btn-primary"><i class="fas fa-upload"></i> Upload</span>
                      </div>
                      <small>For best results, use an image at least 128px by 128px in .jpg format</small>
                    </div>
                  </div>
                </div>
                <button type="submit" class="btn btn-primary">Save changes</button>
              </form>
            </div>
          </div>


        </div>
        <div class="tab-pane fade" id="password" role="tabpanel">
          <div class="card">
            <div class="card-body">
              <h5 class="card-title">Password</h5>

              <form>
                <div class="mb-3">
                  <label for="inputPasswordCurrent" class="form-label">Current password</label>
                  <input type="password" class="form-control" id="inputPasswordCurrent">
                  <small><a href="#">Forgot your password?</a></small>
                </div>
                <div class="mb-3">
                  <label for="inputPasswordNew" class="form-label">New password</label>
                  <input type="password" class="form-control" id="inputPasswordNew">
                </div>
                <div class="mb-3">
                  <label for="inputPasswordNew2" class="form-label">Verify password</label>
                  <input type="password" class="form-control" id="inputPasswordNew2">
                </div>
                <button type="submit" class="btn btn-primary">Save changes</button>
              </form>

            </div>
          </div>
        </div>
      </div> -->


      <!-- <div class="row">
        <div class="card" *ngIf="!isSelected">
          <div class="card-header">
            <div class="card-actions float-end">
              <div class="dropdown position-relative">
                <a href="#" data-bs-toggle="dropdown" data-bs-display="static" aria-expanded="false" class="">
                  <i class="bi bi-pencil-square"></i>
                </a>
              </div>
            </div>
            <h5 class="card-title mb-0">Pet(s) info</h5>
          </div>
          <div class="card-body">
            <form>
              <div class="row">
                <div class="col-md-8">
                  <div class="mb-3 row">
                    <div class="col-6">
                      <label for="inputUsername" class="form-label">Name</label>
                      <input type="text" class="form-control" id="inputUsername" placeholder="Pet Name">  
                    </div>
                  <div class="col-6">
                    <label for="inputUsername" class="form-label">Date of Birthday</label>
                    <input type="text" class="form-control" id="inputUsername" placeholder="Pet Name">
                  </div> 
                  </div>

                  <div class="row">
                    <div class="col-6">
                      <div class="row">
                        <div class="col-4">
                          <label class="form-label" for="weight">Weight</label>
                        </div>
                        <div class="col-8 text-end">
                          <a class="form-label" for="weight" (click)="isShow = !isShow">{{!isShow?'Switch to st,lb':'Switch to Kg'}}</a>
                        </div>
                      </div>
                      <div *ngIf="!isShow">
                        <input type="phone" id="weight" placeholder="Kilograms" class="form-control" />
                      </div>
                      <div>
                        <div *ngIf="isShow" class="row">
                          <div class="col-6">
                            <input type="phone" id="weight" placeholder="Stone" class="form-control" />
                          </div>
                          <div class="col-6">
                            <input type="phone" id="weight" placeholder="Paunds" class="form-control" />
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>

                  <div class="mb-3">
                    <label for="inputUsername" class="form-label">Description</label>
                    <textarea rows="2" class="form-control" id="inputBio"
                      placeholder="Tell something about your pet"></textarea>
                  </div>
                </div>
                <div class="col-md-4">
                  <div class="text-center">
                    <img alt="pet profile picture" src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQeFpdmHDg4o0Yi-xBZ7kKRJvhl54_Z3jzVfXhJvPiJ26cXJA017tw6LlNzjimNqpmbDgs&usqp=CAU" class="rounded-circle img-responsive mt-2"
                      width="128" height="128">
                    <div class="mt-2">
                      <span class="btn btn-primary"><i class="fas fa-upload"></i> Upload</span>
                    </div>
                    <small>For best results, use an image at least 128px by 128px in .jpg format</small>
                  </div>
                </div>
              </div>
              <button type="button" class="btn btn-outline-info mr-2">See certificate</button>
              <button type="submit" class="btn btn-primary" (click)="!isSelected = true">Save changes</button>
            </form>
          </div>
        </div>
      </div>
       -->


            
      <!-- <div class="card">
        <div class="card-header">
          <h5 class="card-title mb-0">Profile Settings</h5>
        </div>
        <div class="list-group list-group-flush" role="tablist">
          <a class="list-group-item list-group-item-action active" data-bs-toggle="list" href="#account" role="tab"
            aria-selected="true">
            Profile
          </a>
          <a class="list-group-item list-group-item-action" data-bs-toggle="list" href="#settings" role="tab"
          aria-selected="true">
          Settings
        </a>
          <a class="list-group-item list-group-item-action" data-bs-toggle="list" href="#password" role="tab"
            aria-selected="false" tabindex="-1">
            Password
          </a>
          <a class="list-group-item list-group-item-action" data-bs-toggle="list" href="#" role="tab"
            aria-selected="false" tabindex="-1">
            Privacy and safety
          </a>
          <a class="list-group-item lifst-group-item-action" data-bs-toggle="list" href="#" role="tab"
            aria-selected="false" tabindex="-1">
            Email notifications
          </a>
          <a class="list-group-item list-group-item-action" data-bs-toggle="list" href="#" role="tab"
            aria-selected="false" tabindex="-1">
            Web notifications
          </a>
          <a class="list-group-item list-group-item-action" data-bs-toggle="list" href="#" role="tab"
            aria-selected="false" tabindex="-1">
            Bla Bla
          </a>
          <a class="list-group-item list-group-item-action" data-bs-toggle="list" href="#" role="tab"
            aria-selected="false" tabindex="-1">
            Your data
          </a>
          <a class="list-group-item list-group-item-action" data-bs-toggle="list" href="#" role="tab"
            aria-selected="false" tabindex="-1" >
            Delete account
          </a>
        </div>
      </div> -->


<!-- 
 <div class="col-4">
  <div class="card">
    <div class="text-center card-body">
      <div class="member-card">
          <div class="thumb-lg member-thumb mx-auto"><img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQeFpdmHDg4o0Yi-xBZ7kKRJvhl54_Z3jzVfXhJvPiJ26cXJA017tw6LlNzjimNqpmbDgs&usqp=CAU" class="rounded-circle img-thumbnail" alt="profile-image"></div>
          <div class="pt-2">
              <h4>{{pet.name}}</h4>
          </div>
          <ul class="social-links list-inline mb-auto pt-1">
            <li class="list-inline-item p-2"><a title="" data-placement="top" data-toggle="tooltip" class="tooltips " href="" data-original-title="SpecialCare"><span class="material-symbols-outlined">
              medical_information</span></a></li>
              <li class="list-inline-item p-2"><a title="" data-placement="top" data-toggle="tooltip" class="tooltips" href="" data-original-title="Vaccines"><span class="material-symbols-outlined">vaccines</span></a></li>
              <li class="list-inline-item p-2"><a title="" data-placement="top" data-toggle="tooltip" class="tooltips" href="" data-original-title="Behavior"><span class="material-symbols-outlined">pets</span></a></li>
          </ul>
              <div class="row">
                <div class="card-body">
                <ul class="list-group list-group-flush pb-4">
                  <li class="list-group-item "><i class="bi bi-envelope profile-icons"></i>{{pet.dob}}</li>
                  <li class="list-group-item"><i class="bi bi-telephone  profile-icons"></i>{{pet.petBreed}}</li>
                  <a class="list-group-item"><i class="bi bi-geo-alt-fill profile-icons"></i>{{pet.description}}</a>
                </ul>
              </div>
      </div>
      </div>
  </div>
  </div>
</div> -->






