.searchBorder{
    background-color: whitesmoke;
    border: 2px solid black;
    padding: 5%;
    margin: 0 10% 5% 10%;
    border-radius: 15px;
    box-shadow: 0 0 30px black;
}
.contain
{
    background-color: whitesmoke;
    border-top: 1px solid black;
    padding-top: 5%;
}