.bi-star-fill{
    padding: 0.2rem;
    font-size: 1.3rem;
    color: orange;
}

 .bi-star-half{
   padding: 0.2rem;
    font-size: 1.3rem;
    color: orange;
}


.details {
    color:#66CAD8; 
    font-weight: 600;
}

.card:hover{
    cursor: pointer;
    box-shadow: 0 0 11px rgba(33,33,33,.2); 

}