<div class="row">
    <div class="col-12 d-flex justify-content-end">
        <div><i class="bi bi-x-lg" (click)="doNotCancel()"></i></div>
    </div>
  <div class="text-center align-middle pt-4 pb-3">
    <h3>Cancel service creation?</h3>
    <p>If you leave now this form won't be saved</p>
    <div class="row pt-4 align-middle">
        <div class="col-6  d-flex justify-content-end">
            <button type="button" class="btn btn-secondary w-75" (click)="onCancel()">Yes, cancel</button>
        </div>
        <div class="col-6  d-flex justify-content-start">
            <button type="button" class="btn btn-primary w-75"(click)="doNotCancel()">Don't cancel</button>
        </div>
    </div>
</div>
</div>

