
<div class = "container mt-4" *ngIf="componentFlag == 'userProfile'">
<div class = "row justify-content-center text-center mb-1">
  <div class = "col-4" >
        <div class = "d-flex justify-content-start" *ngIf="showmonth">
            <i class="bi bi-arrow-left-square" (click)="decreaseMonth()"></i>
            <h6 class = "ml-2">{{displayMonth}}</h6>
            <i class="bi bi-arrow-right-square ml-2" (click)="increaseMonth()"></i>
            <i class="bi bi-calendar2 ml-1" (click)="setCurrentMonth()"></i>
        </div>

        <div class = "d-flex justify-content-start" *ngIf="showweek">
          <i class="bi bi-arrow-left-square" (click)="getLastWeek()"></i>
          <h6 class = "ml-2">{{monthStr}}</h6>
          <i class="bi bi-arrow-right-square ml-2" (click)="getNextWeek()"></i>
          <i class="bi bi-calendar2 ml-1" (click)="GetToday()"></i>
      </div>

      <div class = "d-flex justify-content-start" *ngIf="showday">
        <i class="bi bi-arrow-left-square" (click)="subtractDay()"></i>
        <h6>{{startDateStr}}</h6>
        <i class="bi bi-arrow-right-square ml-2" (click)="addDay()"></i>
        <i class="bi bi-calendar2 ml-1" (click)="GetToday()"></i>
    </div>
  </div>

  <div class = "col-8">
        <div class = "d-flex justify-content-end">
          <button type="button" class="btn btn-outline-secondary btn-sm "  (click)="ShowMonth()">Month</button>
          <button type="button" class="btn btn-outline-secondary btn-sm ml-2"  (click)="ShowWeek()">Week</button>
            <button type="button" class="btn btn-outline-secondary btn-sm ml-2"    (click)="ShowDay()">Day</button> 
        </div>
  </div>
  </div>
 
  <div *ngIf="showday">
          <div *ngIf="notAvailbleDay.length > 0" >
            <div class="col-md-12 col-xl-12" *ngFor="let n of notAvailbleDay">
              <div class="test card mb-3" >
                <div class="card-body text-center ">
                <div class="row align-items-center">
                    <div class="col-4">
                        <img  src="../../../assets/images/notAvailable.png" class="img-fluid " style="width: 25%;">
                    </div>
                    <div class="col-4 ">
                    <div class = "row text-center">
                      <h4>Not Available</h4>

                    </div>
                    <div class = "row text-center">
                      <h6>Note: {{n.Note}}</h6>

                    </div>
                    <div class = "row text-center px-5">
                      <button class = "btn btn-danger btn-sm" (click)="DeleteNot(a.NotAvailbleID)" >Delete</button>

                    </div>
                      
                    
                    </div>
                  <div class="col-4">
                    <img  src="../../../assets/images/notAvailable.png" class="img-fluid "  style="width: 25%;">
                </div>
                </div>
                </div>
              </div>
            </div>

          </div>
          <div *ngIf="ordersDay.length > 0">
            <div class="col-md-12 col-xl-12 " *ngFor="let o of ordersDay" (click)=" ChangeRoute()">
              <div class="test card mb-3" >
                <div class="card-body text-center booking">
                <div class="row align-items-center">
                
                    <div class="col-2">
                        <img src="{{o.Profile_Pic_URL}}"  class="img-fluid rounded-circle mb-2" width="100" height="100">
                    </div>
                    <div class="col-4 text-left">
                        <div class="d-flex justify-content-between">
                                <h5>{{o.Name}} {{o.Surname}}</h5>

                        </div>
                        <div class="d-flex justify-content-between">
                        
                          <p>{{o.Line_2}}, {{o.County}}</p>
                        
                        </div>
                  </div>
                  <div class = "col-6">
                    <div class = "d-flex justify-content-center align-content-middle">
                      <div class="col-2">
                        <picture class="align-initial pr-3" *ngIf="o.ServiceTitle.includes(picKeyWords[1])">
                          <img src="../../../assets/images/home/walk-selected.svg" alt="Creche" class="img-fluid">
                        </picture>
                        <picture class="align-initial pr-3" *ngIf="o.ServiceTitle.includes(picKeyWords[0])">
                          <img src="../../../assets/images/home/petsitting-selected.svg" alt="Creche" class="img-fluid">
                        </picture>
                        <picture class="align-initial pr-3" *ngIf="o.ServiceTitle.includes(picKeyWords[3])">
                          <img src="../../../assets/images/home/daycare-selected.svg" alt="Creche" class="img-fluid">
                        </picture>
                        <picture class="align-initial pr-3" *ngIf="o.ServiceTitle.includes(picKeyWords[2])">
                          <img src="../../../assets/images/home/daycare-selected.svg" alt="Creche" class="img-fluid">
                        </picture>
                    </div>
                    <div class="text-center" >
                      <h5>{{o.UserTitle}}</h5>
                      <h5 style="border-bottom: 1px solid black;" class = "pb-2"><small>{{o.ServiceTitle}}</small></h5>
                      <div class = "d-flex justify-content-center align-content-middle">
                        <label for="price"> Payment:&nbsp; </label>
                        <p> €{{o.Price.slice(1)}}</p>
                       

                    </div>
                    <div class = "row">
                      <h5> <small><span class="font-weight-bold">Start Date:</span> {{o.OrderStartDate | date: 'dd MMM yyyy , h:mm a'}}</small></h5>
                      <h5> <small> <span class="font-weight-bold">End Date:</span>  {{o.OrderEndDate | date: 'dd MMM yyyy , h:mm a'}}</small></h5>
                      <h5> <small><span class="font-weight-bold">Duration:</span> {{getTimeDifference(o.OrderStartDate,o.OrderEndDate)}}</small></h5>

                    </div>
                    </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>

          </div>
          </div>

          <div *ngIf="ordersDay.length == 0 && notAvailbleDay.length == 0">
            
          <div class="col-md-12 col-xl-12">
            <div class="test card mb-3" >
              <div class="card-body text-center ">
              <div class="row align-items-center justify-content-center">
                 
                  <div class="col-4 p-3">
                  
                    <h4>No Events Today</h4>
                  
                  </div>
              </div>
              </div>
            </div>
          </div>

          </div>
    </div>

  </div>
  <div *ngIf="showweek">
    <table class='calendar-table table'>
      <tbody>
        <tr *ngFor="let d of dates" >
        <th>
            <div class = "row p-1">
              <div class = "col-4">
                <div class = "d-flex justify-content-center align-items-center">
                  <h6>{{d | date: 'dd MMM yyyy'}}   </h6>
                </div>
              </div>
              <div class = "col-8">
                <div class = "d-flex justify-content-center"  >
                  <div *ngIf="isObjectInArray(d | date: 'dd MMM yyyy')" class = "bookingWeek" (click) = "setValues(d)">
                    <div class = "d-flex justify-content-center align-items-center">
                      <i class="bi bi-calendar-check-fill mr-3"></i>
                    <h6>Booking</h6>
                    <i class="bi bi-calendar-check-fill ml-3"></i>
                    </div>
                </div>
                  <div *ngIf="isObjectInArray2(d | date: 'dd MMM yyyy')" class = "notWeek"  (click) = "setNotAvailable(d)" >
                    <div class = "d-flex justify-content-center align-items-center">
                    <i class="bi bi-x-square-fill mr-2"></i>
                   <h6>Not available</h6>
                   <i class="bi bi-x-square-fill ml-2"></i>
                   </div>
                    
                  </div>
      
                  <div *ngIf="!isObjectInArray(d | date: 'dd MMM yyyy') && !isObjectInArray2(d | date: 'dd MMM yyyy')" class="calendar-day-header">
                    <div class = "d-flex justify-content-center align-items-center">
                      <img  src="../../../assets/images/MicrosoftTeams-image (6).png" class="img-fluid mr-1" width="50" height="50">
                      <h6>No events</h6>
                      <img  src="../../../assets/images/MicrosoftTeams-image (6).png" class="img-fluid ml-1" width="50" height="50">

                    </div>
                 </div>
               </div>
               </div>
               </div>
           

      </th>
        </tr>
      </tbody>
    </table>
  </div>
  <div *ngIf="showmonth">
    <table class='calendar-table table'*ngIf="calendar">
      <thead>
        <tr>
          <th scope="col">Monday</th>
          <th scope="col">Tuesday</th>
          <th scope="col">Wednesday</th>
          <th scope="col">Thursday</th>
          <th scope="col">Friday</th>
          <th scope="col">Saturday</th>
          <th scope="col">Sunday</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let row of calendar | chunk: 7; let i = index">
            <td class="calendar-day"  [ngClass]="{'past-date': c.isPastDate, 'today': c.isToday}" *ngFor="let c of row; let j = index">
              
              <div *ngIf="isObjectInArray(c.date | date: 'dd MMM yyyy')" class="calendar-day-header" [ngClass]="{'blue-date': c.isToday}">
                <strong>
                  {{c.date.getDate()}}
                </strong> 
                <strong *ngIf="c.isToday || (i==0 && j==0) || (c.date.getDate() == 1)"> 
                  {{monthNames[c.date.getMonth()]}}
                </strong>
                <div class = "row justify-content-center">
                <img src="../../../assets/images/available.png" style = "width: 60px;" (click)="setValues(c.date)" alt="">
                </div>
              </div>
          
  
              <div *ngIf="isObjectInArray2(c.date | date: 'dd MMM yyyy')" class="calendar-day-header" [ngClass]="{'blue-date': c.isToday}">
                <strong>
                  {{c.date.getDate()}}
                </strong> 
                <strong *ngIf="c.isToday || (i==0 && j==0) || (c.date.getDate() == 1)"> 
                  {{monthNames[c.date.getMonth()]}}
                </strong>
                <div class = "row justify-content-center">
                  <img src="../../../assets/images/notAvailable.png" class="mt-2 mb-2"  (click) = "setNotAvailable(c.date)" style = "width: 45px;">
                </div>
                
              </div>
  
              <div *ngIf="!isObjectInArray(c.date | date: 'dd MMM yyyy') && !isObjectInArray2(c.date | date: 'dd MMM yyyy')" class="calendar-day-header"  [ngClass]="{'blue-date': c.isToday}">
                <strong>
                  {{c.date.getDate()}}
                </strong> 
                <strong *ngIf="c.isToday || (i==0 && j==0) || (c.date.getDate() == 1)"> 
                  {{monthNames[c.date.getMonth()]}}
                </strong>
              </div>
  
              
          
        </tr>
      </tbody>
    </table>
  </div>



  <div *ngIf="displayEvent" class = "modal-Background">
    <div class="modal-content p-5" style="padding: 0 5%;">
      <Button class = "btn btn-danger position-absolute top-0 end-0 mb-3" (click)="closeReset()" >&#10005;</Button>
       
      <div class="col-md-12 col-xl-12 " *ngFor="let o of selectedOrders" (click)=" ChangeRoute()">
        <div class="test card mb-3" >
          <div class="card-body text-center booking">
          <div class="row align-items-center">
          
              <div class="col-2">
                  <img src="{{o.Profile_Pic_URL}}"  class="img-fluid rounded-circle mb-2" width="100" height="100">
              </div>
              <div class="col-4 text-left">
                  <div class="d-flex justify-content-between">
                          <h5>{{o.Name}} {{o.Surname}}</h5>

                  </div>
                  <div class="d-flex justify-content-between">
                  
                    <p>{{o.Line_2}}, {{o.County}}</p>
                  
                  </div>
            </div>
            <div class = "col-6">
              <div class = "d-flex justify-content-center align-content-middle">
                <div class="col-2">
                  <picture class="align-initial pr-3" *ngIf="o.ServiceTitle.includes(picKeyWords[1])">
                    <img src="../../../assets/images/home/walk-selected.svg" alt="Creche" class="img-fluid">
                  </picture>
                  <picture class="align-initial pr-3" *ngIf="o.ServiceTitle.includes(picKeyWords[0])">
                    <img src="../../../assets/images/home/petsitting-selected.svg" alt="Creche" class="img-fluid">
                  </picture>
                  <picture class="align-initial pr-3" *ngIf="o.ServiceTitle.includes(picKeyWords[3])">
                    <img src="../../../assets/images/home/daycare-selected.svg" alt="Creche" class="img-fluid">
                  </picture>
                  <picture class="align-initial pr-3" *ngIf="o.ServiceTitle.includes(picKeyWords[2])">
                    <img src="../../../assets/images/home/daycare-selected.svg" alt="Creche" class="img-fluid">
                  </picture>
              </div>
              <div class="text-center" >
                <h5>{{o.UserTitle}}</h5>
                <h5 style="border-bottom: 1px solid black;" class = "pb-2"><small>{{o.ServiceTitle}}</small></h5>
                <div class = "d-flex justify-content-center align-content-middle">
                  <label for="price"> Payment:&nbsp; </label>
                  <p> €{{o.Price.slice(1)}}</p>
                 

              </div>
              <div class = "row">
                <h5> <small><span class="font-weight-bold">Start Date:</span> {{o.OrderStartDate | date: 'dd MMM yyyy , h:mm a'}}</small></h5>
                <h5> <small> <span class="font-weight-bold">End Date:</span>  {{o.OrderEndDate | date: 'dd MMM yyyy , h:mm a'}}</small></h5>
                <h5> <small><span class="font-weight-bold">Duration:</span> {{getTimeDifference(o.OrderStartDate,o.OrderEndDate)}}</small></h5>

              </div>
              </div>
              </div>
            </div>
          </div>
        </div>
      </div>

    </div>

               <div class="d-flex justify-content-center align-items-center">
                <a (click)="ChangeRoute()" class="btn btn-success">More Info</a>
               </div>
             
              </div>
            </div>

            <div *ngIf="displayNotAvailable" class = "modal-Background">
              <div class="modal-content p-5" style="padding: 0 5%;">
                <Button class = "btn btn-danger position-absolute top-0 end-0 mb-3" (click)="closeReset()" >&#10005;</Button>
             
                <div class="col-md-12 col-xl-12 " *ngFor="let a of notAvailbleDay">
               
                  <div class="test card mb-3" >
                    <div class="card-body text-center">
                    <div class="row align-items-center">
                      <div class="col-4">
                        <img  src="../../../assets/images/notAvailable.png" class="img-fluid " style="width: 25%;">
                    </div>
                    <div class="col-4 ">
                    <div class = "row text-center">
                      <h4>Not Available</h4>

                    </div>
                    <div class = "row text-center">
                      <h6>Note: {{a.Note}}</h6>

                    </div>
                    <div class = "row text-center px-5">
                      <button class = "btn btn-danger btn-sm" (click)="DeleteNot(a.NotAvailbleID)">Delete</button>

                    </div>
                      
                    
                    </div>
                  <div class="col-4">
                    <img  src="../../../assets/images/notAvailable.png" class="img-fluid "  style="width: 25%;">
                </div>
                    
                    
                    </div>
                  </div>
                </div>
          
              </div>
              </div>
              </div>
                            
          
                         
                       
                          
                        
                       
    


   




  