<div class = "row">
    <div class="= col-6">
        <ul>
            <li>
                <p>Find high-quality services at your price point</p>
            </li>
            <li>
                <p>Find high-quality services at your price point</p>
            </li>
            <li>
                <p>Find high-quality services at your price point</p>
            </li>
        </ul>

    </div>
    <div class="= col-6">

        <img src="../../../assets/images/dogWalker.jpg">

    </div>

</div>
