<!-- <form action="">
    <div>
        <label for="name"> First Name</label>
        <input type="text" name="name" [(ngModel)]="firstName" required placeholder="Enter your email">
    </div>
    <div>
        <label for="lastName"> Last Name</label>
        <input type="text" name="lastName" [(ngModel)]="lastName" required placeholder="Enter your email">
    </div>

    <div>
        <label for="email"> Email address</label>
        <input type="email" name="email" [(ngModel)]="email" required placeholder="Enter your email">
    </div>
    <div>
        <label for="password"> Password</label>
        <input type="password" name="password" [(ngModel)]="password" required placeholder="Enter your password" id="password">
    </div>
    <div>
       <br/>
        <button (click)="register()" class="btn btn-primary" type="button"> Register</button>
    </div>
    </form>
    <p class="text-dark mb-0"> Already a member?<a href="/login" class="text-primary ml-1">Login</a></p> -->